[2018-05-24 10:24] BrunoBoehm opened #5 "How to whitelist tracking scripts with Consent Manager"
Hi I'm currently testing the simplest script you've made, works well!
To the point: some trackers like Google Analytics (when set up correctly with anonymous IP etc.) don't handle PII anymore. **How can I make sure they can be included before user consent (since they' don't need to be acknowledged and accepted by the user anymore), while using your standalone script.**
Otherwise quite a lot of vis

[2018-05-24 11:39] thoreyjona opened #6 "Change the UI of Preferences Dialog"
Is there any way to change the look of the Preferences Dialog? For example make the green Save button in another color and change the buttons in the cancel dialog etc..
Thanks in advance :)

[2018-05-24 13:40] BrunoBoehm opened #7 "Cookie banner closes on page click and cannot be made visible again"
Hi,

**What happens:** when the banner appears on the first visit, if you click anywhere else on the page, the banner disappears (this seems to be "implicit consent" - no sure it is quite GDPR compliant). Once it is gone there is no way to bring it back.

In your latest blog post you wrote "The visitor can, of course, access the modal to change their preferences at any time by clicking on the “Web

[2018-05-24 15:03] BrunoBoehm opened #9 "Adding links into data-parameters in the out-of-the-box consent manager"
Inside of data-bannerContent ("we use cookies...") I can see on your site (Segment.com) that you have a link to your Website Data Collection Policy. Similarly most site owners would like to be able to have a sentence like "By using our website, you’re agreeing to the collection of data as described in our Privacy Policy" **with a link on Privacy Policy**.
Can this be achieved easily?

[2018-05-24 15:40] hughns commented on #7
The `implyConsentOnInteraction` option (https://github.com/segmentio/consent-manager#implyconsentoninteraction) might help you out on the first question.

For the second question you can create a link that calls `window.consentManager.openConsentManager()` in your footer (or elsewhere).

[2018-05-24 18:34] Rowno commented on #7
Yep @hughns is right, the `implyConsentOnInteraction` option and the `window.consentManager.openConsentManager()` function are what you want. 🙂

[2018-05-24 18:34] #7 closed

[2018-05-24 19:56] nettofarah commented on #5
Hey, @BrunoBoehm.
Thanks for trying out the consent manager :)

It sounds like you might wanna load GA outside of the consent manager in this case, probably as its own script tag, and not load it through Segment, so you could bypass the Consent Manager altogether.

I think one other option would be try to use the advanced `ConsentManagerBuilder` react component and manually call the `setPrerences`

[2018-05-24 19:57] #5 closed

[2018-05-24 20:00] #9 closed, assigned to nobody

[2018-05-24 20:02] nettofarah commented on #6
Hey, @thoreyjona.
Thank you for trying out the Consent Manager :)

You're probably gonna want to use the `ConsentManagerBuilder` in this case. The react component should give you the ability to completely customize the consent manager. (here's an example: https://github.com/segmentio/consent-manager/blob/master/tools/stories/tool-based.js#L17)

Another idea is that you could try and use css to ove

[2018-05-24 20:39] #6 closed

[2018-05-25 15:57] thoreyjona opened #10 "Using consent-manager causes reload"
I have a React Web Application and I am using consent manager. If I go to a new page within my application it causes a reload of the page which I don't want. If I comment out the consent manager code this does not happen. Is there some way to stop the page from reloading?

I'm using it this way:

[code]

[2018-05-25 16:30] BrunoBoehm commented on #5
Ok thank you very much for this!
Loaded out of segment it would mean I could not use my segment trackers anymore, quite a loss.
I'm still trying to figure out if GA (with anonymous IP, URLs without any PII...) would still need user consent based on GDPR requirements... We'll all see how it goes in the following days.
Cheers

[2018-05-25 16:32] nettofarah commented on #5
No worries, @BrunoBoehm
Everyone is kind of learning as they go 😅
Please let us know if we can help you in any other way, and good luck!

[2018-05-25 21:16] callmevlad opened #11 "Consent manager shows "Segment" in dialog content"
When using the standard embed (and when looking at the [default Storybook example](https://segmentio.github.io/consent-manager/index.html?selectedKind=ConsentManager&selectedStory=Standalone%20React%20Component&full=0&addons=0&stories=1&panelRight=0)), the dialog content shows "Segment" in the copy:

![image](https://user-images.githubusercontent.com/785166/40566555-1caa1b58-6026-11e8-8dec-f41b408

[2018-05-25 21:17] nettofarah commented on #11
Hey, @callmevlad
Thanks for calling that out.

Yeah, that sounds like an oversight on our end 😅
We can change the language the copy to say "We use browser cookies..."

[2018-05-25 21:18] nettofarah commented on #11
@jfmaggie is on it :)

[2018-05-25 21:19] nettofarah commented on #10
@jfmaggie Feel free to investigate this issue too

[2018-05-25 21:20] callmevlad commented on #11
Thanks @nettofarah and @jfmaggie! 👏 I was [halfway to sending a pull request](https://github.com/callmevlad/consent-manager/commit/8d68a0b22f15ce6c99086646d018a9d57f7d9107), but sounds like you're ahead of me already 😄

[2018-05-25 21:21] jfmaggie commented on #11
@callmevlad Thanks, feel free to submit the PR! 🙌

[2018-05-25 21:56] jfmaggie commented on #11
Hey @callmevlad I fixed it in this one https://github.com/segmentio/consent-manager/pull/13

[2018-05-25 22:00] Rowno commented on #10
I believe what's happening is that the ConsentManager is getting unmounted/remounted between your page transitions which is causing the reload. We reload the page if analytics.js has already been initialised to make sure the user's preferences take affect.

I can disable the reload functionality on mount, but the list of destinations will still be re-downloaded on each page transition for you.

[2018-05-25 22:01] Rowno commented on #11
🙈

[2018-05-25 22:06] #11 closed

[2018-05-25 22:11] Rowno commented on #11
Fixed in [1.1.1](https://github.com/segmentio/consent-manager/releases/tag/v1.1.1)!

[2018-05-25 22:31] callmevlad commented on #11
Thanks @Rowno!

Do you know how I can find out the new `integrity` hash for the new `https://unpkg.com/@segment/consent-manager@1.1.1/standalone/consent-manager.js` script?

Happy to update the doc examples as well if it helps 😃

[2018-05-25 22:39] Rowno commented on #11
It's `cptjdzM9JCyAzOliNVMI+8U60l1MgdGbgop1MFfYoiU=`. You can get it by running `shasum -b -a 256 consent-manager.js | xxd -r -p | base64` on the file.

More info here: https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity#Using_Subresource_Integrity

[2018-05-28 16:10] jescalan opened #15 "Destination fetch frequently fails"
I deployed this consent manager on Friday and since then I have had hundreds of runtime errors reported with a "failed to fetch" exception on the destinations call [here](https://github.com/segmentio/consent-manager/blob/master/src/consent-manager-builder/fetch-destinations.js#L5) - I'm not sure what's causing the issue, but there's no way for me to see without error handling on the fetch call. Wi

[2018-05-28 21:56] Rowno commented on #15
Thanks for trying out the consent manager!

The only things I can think of that would cause fetch errors would be an invalid write key (which I'm assuming isn't the case) or ad blockers (they tend to block cdn.segment.com).

[2018-05-29 10:36] hlodver commented on #10
Hi guys.. I am working with @thoreyjona

First of all, thanks for the fast replies and open sourcing this tool!  In our React application we are using different components for each route but reuse a common one where we loaded the CM (ConsentManager).  Using the standalone script approach would have avoided this issue. For now we decided to conditionally load the CM based on the cookie set by it ('

[2018-05-29 17:59] jescalan commented on #15
Hmm, it certainly could be ad blockers. Do you know if there's any way to detect whether the connection failed because of an issue with segment vs it being blocked by an ad blocker? If so, it would probably make for fewer noisy runtime errors if adblock failures were silent...

[2018-05-29 19:43] Rowno commented on #15
I don't think it's possible to detect ad blocker errors because the browser doesn't expose any details in network errors (for security reasons), not even the error codes that show up in the dev tools. The only way would be to do something like: https://stackoverflow.com/questions/4869154/how-to-detect-adblock-on-my-website

But we can definitely handle the errors so that they're no longer uncaught

[2018-05-29 19:48] Rowno commented on #15
One idea would be to add an `onError` callback option that catches the errors when it's defined, and continue to not handle the errors when it's not defined.

[2018-05-29 20:09] nettofarah commented on #15
I like the idea of providing an `onError` callback :)

[2018-05-31 20:23] Rowno opened #17 "Update the categories"
The new `Email Marketing` and `Marketing Automation` categories need to be added to Marketing and Analytics and the `Email` category should be removed.

[2018-06-05 17:30] adpoyao opened #18 "Error: event.isImmediatePropagationStopped is not a function"
I have an app that uses the standalone consent-manager script in index.html. The consent manager piece is working as expected along with the latest analytics scripts. However, in the same app I am have pre-existing codes using [video.js ](https://videojs.com/) for video frameworks, and having the consent-manager script causes this error to appear:

` Uncaught TypeError: event.isImmediatePropagatio

[2018-06-06 00:00] Rowno commented on #18
Thanks for trying out the consent manager!

I have no idea what could be causing it. 😅 Can you provide more details like the full stack trace, describe when the error happens (on load/click/scroll/etc) or even better provide a reduced test case?

[2018-06-15 15:21] BrunoBoehm opened #19 "How to access Consent info"
Hi Segment, again great work on this banner I'm using it for most sites I'm currently working on and it works like a charm!

How do you recommend to access the consent information for each user ? i.e. when a client is asked to erase the consent for someone how should we go about accessing and erasing this information ? CookieBot for instance offers an interface to list, edit and delete consent.

C

[2018-06-15 15:25] BrunoBoehm opened #20 "Displaying cookie information"
Hi Segment,

A feature currently required by the Cookie Law and GDPR is to be able to list and display cookies inside of the the _Privacy Policy page_.

You are currently able to do this in the Consent Banner Modal, would there be a way to "embed" the same information into a post in any way, using a script?

If not that would be a great feature that consent manager solutions are offering (and curr

[2018-06-29 14:14] BrunoBoehm opened #21 "Standalone script with callback function doesn't work on IE?"
Hi @Rowno
I'm using the standalone script and since I wanted to make sure it'd work on IE, didn't use the data-attributes and went for the callback function "advanced" implementation. However it looks like it's still not working on IE: any idea for a fix?

Thanks,
Bruno

[2018-07-04 06:45] Rowno commented on #21
I never got around to testing IE because I don't have access to a Windows machine at work, but I just did some brief testing using my personal gaming PC and it looks like we're using a couple of ES6 features like `array.find()`, `string.includes()` and `Promise` that aren't supported by IE. Edge seems to work fine though.

If you include the [babel-polyfill](https://babeljs.io/docs/en/babel-polyfi

[2018-07-06 16:37] gryzzly opened #23 "`openConsentManager` doesn’t open ConsentManager"
Hey! Thanks for the useful tool!

I think I am missing something, but `openConsentManager` doesn’t cause `ConsentManager` to show up. Also looking in the source of the function, it emits `openDialog` but there is nothing that handles that event, if I’m seeing this correctly.

Thanks!

[2018-07-07 03:00] Rowno commented on #23
Not sure what to say, we're using `openConsentManager` in a bunch of places and it works fine. 😅

The event is handled here though: https://github.com/segmentio/consent-manager/blob/5d253e08013e5662eac4243615de8b9e28f0c85c/src/consent-manager/container.js#L117

[2018-07-09 18:29] gryzzly commented on #23
Thanks.

Not sure how I managed to miss it, as I tried `ack` on node_modules looking for `openDialog` and used Github’s search on the repo as well!

My issue had to do with the fact that `openConsentManager` was called before the component got mounted.

[2018-07-09 18:29] #23 closed

[2018-07-11 15:33] jhabdas opened #24 "Partially blocks my screen"
Been seeing a lot of this lately. These should be geofenced or every client in the EU, or the EU should be sending a flag indicating they're in the EU so the rest of us don't suffer from GDPR popovers.

[2018-07-11 18:31] Rowno commented on #24
You easily can using the [@segment/in-eu](https://github.com/segmentio/in-eu) package and the [`shouldRequireConsent`](https://github.com/segmentio/consent-manager#shouldrequireconsent) option, as shown in this example: https://github.com/segmentio/consent-manager#callback-function

[2018-07-11 18:31] #24 closed

[2018-07-16 17:53] BrunoBoehm commented on #21
Awesome. So for the record I went the easy way and added the polyfill using the script from CDNJS in my header before loading the consent manager. Tested it on several browsers and it seems to solve the issue on most. Thanks @Rowno

`<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js" integrity="sha256-WRc/eG3R84AverJv0zmqxAmdwQxstUpqkiE+avJ3WSo=" crossorigin

[2018-07-16 18:24] Rowno commented on #21
Cool, thanks for the update.

[2018-07-16 18:24] #21 closed

[2018-08-01 15:34] eveadele opened #26 "Changing copy in Purpose section of table"
Hi Segment folks! I'm wondering if there's an easy way I can change the copy in some of the table cells in the consent manager. For example, my company does not have a live chat, so saying "these tools enable you to communicate with us via live chat" is misleading.

Would it be possible for you to either
(a) change the wording to something like "these tools *may* enable you to communicate with us

[2018-08-01 17:14] nettofarah commented on #26
Hey, Eve!
Yeah, you can customize the consent manager completely.

How are you planning to use it? Through the react component? or through the script tag?

[2018-08-01 20:29] eveadele commented on #26
I'd like to use it with the script tag and callback function. Our site doesn't currently use React so I'd like to avoid bringing it in just for one component.

[2018-08-27 08:27] ostrgard commented on #10
I love this idea and Segment's general stance on privacy/GDPR. Thanks for open sourcing this!

Which issues does the reload on mount solve? For a component, I think this is very unexpected behavior. You generally shouldn't have to worry about a certain component being remounted will cause a window reload.  At least I think this should be done in a more intelligent fashion, rather than "just to mak

[2018-08-29 15:09] jeremybdk opened #27 "Localization?"
Hello,
Do you plan to offer a localized version of the consent manager?
I would love to help translate it into french but I see that the text is currently hardcoded into the javascript. Any plans to change this?

Best,

[2018-09-06 19:10] nettofarah commented on #27
hey, @jeremybdk
Thanks for offering to help.

We unfortunately cannot be liable for translations that have not been thoroughly reviewed by our lawyers and counseling, since the folks involved in maintaining this codebase are just engineers and not people with significant legal and foreign language experience.

There are still solutions for your problem though :)

I would recommend checking out the

[2018-09-08 20:39] jeremybdk commented on #27
I totally understand, would it be possible to make all the text in the consent manager customizable? It might solve the issue as english would be the default unless you add a variable with your translation.

[2018-10-08 19:45] Josecc commented on #18
@adpoyao did you get this solved? I'm having the same issue with the brightcove player. It works as expected without including the consent manager, but when I include it, it breaks and doesn't play the video.

@Rowno the stack trace for mine is:
`index.js:25548 Uncaught TypeError: event.isImmediatePropagationStopped is not a function
    at HTMLDivElement.data.dispatcher (index.js:25548)
data.disp

[2018-10-08 20:04] Josecc commented on #18
Turns out Brightcove uses video.js under the hood. [This is the line that is throwing the error](https://github.com/videojs/video.js/blob/ebf8d6671c056595423ca2b4ae75fe399cfdf3a3/src/js/utils/events.js#L288), which only happens when the segment consent manager script is included.

[2018-10-09 18:45] Josecc commented on #18
@Rowno Also, here's a reduced test case:https://gist.github.com/Josecc/232e8f3e6e7b44e7c66f7c908ea62a91

I removed the segment analytics and configuration, but if you add those too, the same issue occurs. Whenever https://gist.github.com/Josecc/232e8f3e6e7b44e7c66f7c908ea62a91#file-index-html-L5-L9 is commented out or deleted, the video works (even if the configuration or segment analytics scripts

[2018-10-11 02:44] Rowno commented on #18
It seems there's a conflict between Inferno.js and Video.js, switching to React fixes the issue. Video.js is monkey patching all the native events so there's probably some sort of race condition happening: https://github.com/videojs/video.js/blob/ebf8d6671c056595423ca2b4ae75fe399cfdf3a3/src/js/utils/events.js#L160-L169

We're using Inferno.js in the standalone build to reduce the bundle size by 70

[2018-10-11 18:05] Josecc commented on #18
Ahh **thank you** @Rowno ! We ended up following the custom build solution and it worked like a charm. Weird that inferno acts different than react, but I see why you kept it for the smaller size.

[2018-10-24 09:18] ligustah opened #29 "Allow overwriting options in identify call"
Hello,

from what I can tell looking at [the code](https://github.com/segmentio/consent-manager/blob/49d1ed58b70ad9a59ac5ea54f7b988eac6e38dc2/src/consent-manager-builder/preferences.js#L27) there is currently no way of passing specific options to the identify call that is triggered by the consent manager. We'd like to pass a custom context here, to [anonymize the IP address](https://segment.com/do

[2019-02-06 20:30] Havunen commented on #18
I opened pull request https://github.com/segmentio/consent-manager/pull/30 to fix this issue.

[2019-02-19 17:26] nettofarah commented on #10
Hi, everyone.
I'm sorry for the late response here.

Here's the code we use to load analytics.js: https://github.com/segmentio/consent-manager/blob/49d1ed58b70ad9a59ac5ea54f7b988eac6e38dc2/src/consent-manager-builder/analytics.js

The reason why you're seeing page reloads is because analytics.js is being loaded *before* the consent manager, which means tracking has already occurred (which basicall

[2019-03-04 18:16] mantagen commented on #29
Also interested in the above. Is this repo no longer being maintained?

[2019-03-25 10:33] ahallora commented on #10
I experienced the same issue with reloading in my Reactjs application on router navigations.

The solution was to move my [ConsentManager-component](https://github.com/segmentio/consent-manager#example) from my `footer.js` (mounted on every router navigation) to `app.js` (for one-time mounting).

My [segment initialization-script](https://segment.com/docs/sources/website/analytics.js/quickstart/#s

[2019-04-10 18:46] douglascirillostb opened #33 "Segment Consent Manager | Content Customization"
We would also like to have the ability to edit and customize the content that’s populating the categorical descriptions in the purpose column.

[2019-04-17 14:55] guillaume-ro-fr opened #34 "Custom Segment endpoint"
According to the [`analytics.js` integration documentation](https://segment.com/docs/sources/website/analytics.js/#proxy), the Segment CDN endpoint can be personalized with a private endpoint.

The [fetch destinations function](https://github.com/segmentio/consent-manager/blob/49d1ed58b70ad9a59ac5ea54f7b988eac6e38dc2/src/consent-manager-builder/fetch-destinations.js#L6) has a hard-coded URL in par

[2019-05-08 07:59] marceldegraaf opened #35 "Cookie notification bar is empty"
We're trying to set up Segment's Consent Manager (the standalone version) to show our users a cookie notification and to let them manage their tracking preferences.

We're following the documentation from the Github readme: https://github.com/segmentio/consent-manager#standalone-script

This is the super simple HTML page we're testing with: https://gist.github.com/marceldegraaf/e2c490c3f3db11f41db

[2019-05-14 01:29] discovrbookings commented on #35
We too had this issue and not entirely sure of the cause but our workspace had multiple website sources. Removing all but one had the Consent Manager working as intended.

If this is also the case with your issues, have you any idea why this may be? Or how it could be fixed?

[2019-05-24 00:55] jhoffmcd opened #36 "Component Causing Reload on Every Client Side Transition"
I started testing this package out today on a Gatsby static site. It works great up until the user has given consent. At this point it seems the component allows `analytics.js` to initialize, setting `window.analytics.initialized = true`. This is used to test if the browser needs to reload to apply new preferences:

https://github.com/segmentio/consent-manager/blob/master/src/consent-manager-build

[2019-05-24 15:03] jhoffmcd commented on #36
Actually now that I look at it, if the callbacks that are allowed to pass `shouldReload` are exposed to the React component, I should be able to pass `false` for that variable (it defaults to `true`).

My other alternative is to just use the lower level builder which I might do for now, however given the state of React apps I would think supporting client routing would be a key function of a compo

[2019-05-24 22:06] jhoffmcd commented on #10
Just realized my issue #36 is basically this issue. I'll close mine out, but definitely a pretty jarring and bad UX for the page reload for client side transitions. I think the workaround for this being that you only want the component to render once is fine, but should DEF be documented somewhere up front. Spent a day on this :(

[2019-05-24 22:06] jhoffmcd commented on #36
Duplicate of Issue #10

[2019-05-24 22:06] #36 closed

[2019-05-25 01:06] jhoffmcd commented on #29
I would think this would be a key feature to add. Most of the users of this package probably have this requirement.

[2019-05-29 18:08] c-noonan opened #37 "Consent Manager being truncated on iPhoneX"
It looks like the consent manager is being truncated on iPhone X, while it’s fully visible on larger screens such as iPhone XR.

Is there a way to improve mobile rendering so the entire modal is visible for all users, e.g. iPhone X screens? Thanks!

[2019-06-27 18:11] Nbennett650 opened #39 "Keep getting error - Failed to find a valid digest in the 'integrity' attribute for resource - Please help!"
I am new to Segment and coding. I don't know what I am doing wrong!

I keep getting the error:
Failed to find a valid digest in the 'integrity' attribute for resource 'https://unpkg.com/@segment/consent-manager@1.2.0/standalone/consent-manager.js' with computed SHA-256 integrity 'wC00Ta5lCOuOSL3dT3NF9tb9roS8uxTPGQ2Iqe70cqo='. The resource has been blocked.

[code]

[2019-07-01 20:46] Nbennett650 commented on #35
Did you figure this out?

[2019-07-02 08:23] marceldegraaf commented on #35
Nope, we ended up rolling our own cookie bar implementation because we ran into too much trouble with the Segment one.

[2019-07-03 15:04] mantagen commented on #15
Looks like this just needs a line of documentation, then issue can be closed?

[2019-07-06 00:20] ianwremmel commented on #39
Seeing the same thing in Firefox. I ended up using the jsdelivr version instead of unpkg:

https://www.jsdelivr.com/package/npm/@segment/consent-manager

[2019-07-30 14:07] finn-arron commented on #39
Hi,

Could it be that your ID and the data container are different?

[2019-08-09 20:48] msaglietto opened #41 "ConsentManagerBuilder dont show preferences"
Hello :wave:

I have in the site a consent manager and after the answering to it the local storage has this information:
[code]
So then on another part of the site to read the values I dont want to hardcode the access to the local storage so what I did is a ConsentManagerBuilder ..
[code]

My problem is that the preferences are coming with the value Salesforce but not marketingAndAnalytics ..

I t

[2019-08-09 22:22] msaglietto commented on #41
Actually the custom marketingAndAnalytics show when I complete the consent but refresh the page and dont show anymore

[2019-08-12 14:06] Uysim commented on #39
Get the same error. Know how to fix it?

[2019-08-12 14:27] Uysim commented on #35
Anyone has this fixed? I got the same problem

[2019-08-12 14:30] discovrbookings commented on #35
For us it seemed that we could only have a single source and it had to contain a destination. I assume that without these, the consent bar had no reason to display as no destinations were using cookies or implemented script into the browser.

[2019-08-12 14:44] Uysim commented on #35
@discovrbookings I try to add source from javascript and destination to slack. But no matter what it is not showing anything

[2019-08-12 14:56] discovrbookings commented on #35
@Uysim Are you receiving events in the debug of the source? Also, does the Segment script show up in your `<head>`. We did find that it wasn't immediately available and coming back later it was there. Also, clear your cookies in browser. This make jolt the consent manager to work.

[2019-08-12 15:02] Uysim commented on #35
[code]

@discovrbookings above is my code. I use private browser so there is no cookies but It still not show anything inside `consent-container` it created an empty div

[2019-08-12 15:09] discovrbookings commented on #35
You do need to remove `analytics.load("YOUR_WRITE_KEY");` from your script as this is injected by the consent manager component.

[2019-08-12 15:10] discovrbookings commented on #35
@Uysim or is your code, already compiled? and that is the HTML source?

[2019-08-12 15:19] Uysim commented on #35
@discovrbookings what do you mean compiled? that is the html code.

[2019-08-12 15:23] discovrbookings commented on #35
@Uysim I meant are you using Angular, React, etc and your code is static content in your public folder or is it the HTML source from the browser?

[2019-08-12 15:27] ianwremmel commented on #39
There are probably only two things that can cause this error:
1. When the most recent version was published, the incorrect SHA was added to the docs (maybe a typo, maybe a mistake when generating it)
2. The code on the CDN is compromised and shouldn't be used.

@Uysim as consumers, there's really no fix, the best we can do is use a different CDN and hope it's not been compromised. Hopefully someon

[2019-08-15 11:19] JulienDemarque commented on #39
Got the same error and found the answer here (see Rowno message): https://github.com/segmentio/consent-manager/issues/11
What i did is copy the file on my computer, open terminal and run the command line like shown.

[2019-08-15 12:45] JulienDemarque commented on #39
Nevertheless, giving the sha alone works but the following error pops up in the console:
"Error parsing 'integrity' attribute ('LAQMAHhPEo3eDEjNt4kTfZCELOuioQi+b5BoZtqbunE='). The hash algorithm must be one of 'sha256', 'sha384', or 'sha512', followed by a '-' character."
Adding "sha256-" to the integrity attribute then does not work at all... Not sure why.

[2019-08-17 14:45] ianwremmel commented on #39
that's...not a great solution. that assumes that the file hasn't been compromised when you download it and therefore the SHA you generate will protect you in the future. while it's *probably* fine, it mostly defeats the purpose of SRI. It would be really great if Segment could get a proper fix out.

[2019-08-17 14:50] ianwremmel commented on #39
I've opened a support ticket in the hopes that someone on the security team will see it.

[2019-08-18 05:29] Uysim commented on #35
@discovrbookings thank for you help. But my problem fix after mailing with support and he ask me to wait 5 or 10 minutes.

[2019-09-04 11:20] lyonsv opened #44 "JS-Cookie Error: SyntaxError: Unexpected token e in JSON"
Hi there 👋 ,

The following error occurs when using Brave: Version 0.67.125 Chromium: 76.0.3809.100.

```SyntaxError: Unexpected token e in JSON at``` is thrown from js-cookies on mount.

I'm using ```Consent Manager``` and ```openConsentManager``` from ```@segment/consent-manager```, and ```@segment/in-eu```

The consent manager fails to open, and no error is logged other than the original JSON/j

[2019-09-24 22:04] #17 closed

[2019-09-24 22:10] nettofarah commented on #44
Hey, @lyonsv.
Would you mind providing a sample repository or a codesandbox we could use to try and reproduce the issue?

[2019-10-09 20:31] JaKXz commented on #37
Can confirm I am seeing this issue as well using `"@segment/consent-manager": "^1.3.1"`

[2019-10-10 01:00] nettofarah commented on #37
Hey!
Would you mind testing it against something > 2.0.0?

[2019-10-10 11:27] lyonsv commented on #44
@nettofarah I'll see today if this is still an issue after the updates to the library, and post results or close this issue as required

[2019-10-10 11:29] lyonsv opened #50 "SyntaxError: Unexpected identifier"
I can't run my app in next.js after upgrading to 3.0.0. The same issue occurs for 2.4.0 installed from npm.

The error I'm getting in console is:

![image](https://user-images.githubusercontent.com/2531232/66565105-88b9b780-eb59-11e9-8bf4-a696017749f1.png)

I see that in ```node_modules/@segment/consent-manager/commonjs/index.js``` that the file is using imports.

[2019-10-10 16:32] JaKXz commented on #37
@nettofarah would you mind publishing release notes for v2 and 3? Are there any other breaking changes to be aware of? I noticed the default for `implyConsentOnInteraction` was changed, but not sure if I missed anything else.

[2019-10-10 19:36] nettofarah commented on #29
Hey, friends.
This sounds like a great idea.

I'll add it to our backlog :)

Btw, we just released a new version of the consent manager that should hopefully give developers more flexibility

[2019-10-10 19:36] nettofarah commented on #37
hey @JaKXz just published a new version of the consent manager that now includes a changelog: https://github.com/segmentio/consent-manager/blob/master/CHANGELOG.md

[2019-10-10 19:37] nettofarah commented on #50
uh oh. Can you try with v4 to see if the problem still persists?

[2019-10-10 20:36] JaKXz commented on #37
Thanks @nettofarah - what changed in v3?

[2019-10-10 20:40] nettofarah commented on #50
@lyonsv just fixed the commonjs build: https://github.com/segmentio/consent-manager/commit/b4f84dfd43c49451ed0d2da5a780f3131c038a80

[2019-10-10 21:11] nettofarah commented on #37
@JaKXz `implyConsentOnInteraction` now defaults to `false`
https://github.com/segmentio/consent-manager/blob/master/CHANGELOG.md#300oct-8-2019

[2019-10-10 22:25] lyonsv commented on #50
@nettofarah that's resolved, thanks!

[2019-10-10 22:25] #50 closed

[2019-10-21 03:40] #37 closed

[2019-10-21 08:43] danielstjules commented on #39
The new install instructions should work without integrity check!

[2019-10-28 16:10] haletothewood opened #55 "Typescript support"
Trying to consume this package within a typescript project is currently not possible to my knowledge as there is no `@types` declaration.

I may be missing something as I'm quite new to typescript.

Is this something that is/could be worked on?

[2019-10-29 15:11] ianwremmel commented on #39
So, wait, is the new recommendation to just not bother doing an SRI check and hope for the best?

[2019-11-06 11:09] cookiescrumbs commented on #55
@haletothewood We use Angular and typescript and have successfully integrated the consent manager  into our app. Unfortunately you can't consume this as a package in your project.json.
You'll need to load it in via script tags in your html.

[2019-11-06 11:55] cookiescrumbs opened #56 "Tracking before consent given"
I've noticed that the behaviour of the consent manager on the Segment website is different to the behaviour when implemented  in my app.

On the Segment website, data is collected even before I agree / close the dialog box or open the preferences.

On my app, data isn't collected until I open the preferences, choose and save. I live in within the EU, so I  believe this behaviour is correct. A user

[2019-11-12 15:54] cookiescrumbs opened #57 "CloseBehaviour not documented"
closeBehaviour isn't documented in the readme....

[code]

[2019-12-13 10:52] ahallora commented on #57
Added to documentation on Release of 4.0.0 - see #54

[2019-12-13 10:54] ahallora opened #66 "Feature Request - onClose on ConsentManager"
How can I define a custom callback on closing of the ConsentManager?

E.g. to hide the container div when the consent has been dismissed, accepted or denied (https://github.com/segmentio/consent-manager#closebehavior)

[code]

[2019-12-13 14:14] ahallora commented on #66
Also, a feature to easily check if user has accepted cookies would be awesome. :)

Right now I'm doing a very bad lookup for the localstorage value, and it just feels wrong doing so.

[code]

[2020-01-03 17:57] otherjustin commented on #27
I would second this request. You guys have done a great job making a lot of it accessible, but, for example, seemingly none of the text in the "settings table" can be changed. It would help a lot to be able to do this!

[2020-01-03 20:07] ashokdelphia opened #71 "Unavoidable implied consent with implyConsentOnInteraction"
When using the implyConsentOnInteraction flag, I noticed some odd behaviour when trying to opt out. Unfortunately, this effectively makes it impossible to opt-out when this flag is set.

Steps to reproduce:

- clear all cookies for segmentio.github.io
- visit https://segmentio.github.io/consent-manager/index.html?path=/story/react-component-basics--basic-react-component-with-implied-consent
- witn

[2020-02-13 12:20] clemblanco opened #74 "Questions: invalidating consent + logging/tracking consent"
### Can we invalidate and ask for consent again?

It looks like if some changes are made to the destinations added/removed to some categories, we need to invalidate the current consent and ask for the user consent again.

Is it something the `consent-manager` covers? Or is it something we have to determine ourselves and use the `shouldRequireConsent` prop for?

### Can we track consents when given

[2020-02-14 16:02] morrislaptop opened #75 "Vue.js support"
Are there any guides on how to integrate this with Vue? (We don't use React)

[2020-02-18 19:10] MaisonDeVolonte opened #76 "Unable to access save/cancel buttons in preferences modal on mobile"
Device: iPhone X 13.3.1
Browser: Mobile Chrome 80.0.3987.95

![IMG_7892-2](https://user-images.githubusercontent.com/11622069/74769507-7166a580-5282-11ea-822d-0cb17fa9a977.png)

[2020-02-19 15:50] MaisonDeVolonte opened #77 "Add id to consent manager form"
Can we add an id to the consent manager form?

Preferably something in readable format like "Consent-Form" or "Cookie-Consent-Form"

I use form ids as identifiers when tracking form submission events:

`analytics.track('Submitted {{Form ID}}', {
    category: 'Form',
    label: '{{Page Path}}',
    value: 0
  });`

<img width="718" alt="Reach_Marketing" src="https://user-images.githubusercontent.c

[2020-03-03 20:59] samuelkahr opened #78 "Update Consent Manager version in cdn script, add inRegions to to callback options"
Currently, in the code examples we reference version 4.0.0 of the consent manager.

<img width="1195" alt="Screen Shot 2020-03-03 at 12 53 42 PM" src="https://user-images.githubusercontent.com/54959899/75818725-43876380-5d4e-11ea-9bc0-a22f0735b3cf.png">

Per [NPM](https://www.npmjs.com/package/@segment/consent-manager), this should be updated to 4.3.0. This new version allows you to create custom

[2020-03-11 09:42] lopno opened #80 "Add prop to set className of banner container in ConsentManager React component"
I doesn't seem like there is a way of setting the class name of the banner container when using the ConsentManager React component.
This makes positioning the banner difficult.
I would like a feature like `container: '#target-container',` when using the consentManagerConfig with the standalone script.

Right now in order to position the banner I had to access the div like this:
[code]
This would b

[2020-03-11 10:04] lopno opened #81 "Tracking starts immediately after closing banner with closeBehavior="deny""
When using the standalone script tracking starts immediately after closing the banner no matter what the `closeBehavior` is set to.
I've tried both `deny` and `dismiss` but tracking starts immediately after closing the banner no matter which option is set.

The React component respects the option, so the issue is only in the standalone script.

[2020-03-12 10:42] andrewplummer opened #82 "Can I use setPreferences with groups?"
It's very unclear from the docs whether I can simply pass group ids to `setPreferences` and have segment figure out the individual destination preferences.

Expected behavior:

[code]

When setting preferences on individual destination ids this may reload the page but the above code doesn't seem to do this, so I have no idea what it's doing. Are there no docs for the exact props that can be passed

[2020-03-12 11:06] andrewplummer opened #83 "ConsentManagerBuilder does not provide a way to check consent"
The docs say:

However the render props to `ConsentManagerBuilder` allow setting preferences and saving consent, but they don't appear to provide a way to check whether the user has save consent already.

Using the `preferences` prop might work, however as I am passing in `initialPreferences` (as per the GDPR+CCPA example) the result is a merged object which cannot distinguish between initial and

[2020-04-05 19:53] nareshbhatia commented on #55
Surprising that the source is in TypeScript, but the import of @segment/consent-manager is giving the following warning:

Same with @segment/in-eu

[2020-04-06 20:07] bhatiak opened #90 "Base framework to query consent state"
I've been playing with the Consent Manager and want to build my own to customize a few things. I'd like to optimize for a flow where there's a consent banner displayed with an explicit "Accept" and "Decline" button, no "X" or close button. Since we don't use too many tools, we don't need the preferences dialog to fine tune controls.

Is there a way to separate the UI from the concept of consent he

[2020-04-09 01:08] federico-fiorini opened #91 "Unexpected end of JSON input"
### Description
After upgrading to the latest version of the consent manager (4.5.0) we started experiencing a spike in errors that seem to be happening within the consent manager code.

<img width="1013" alt="Screen Shot 2020-04-08 at 19 12 07" src="https://user-images.githubusercontent.com/5628190/78846882-d90fb600-79d2-11ea-90e7-275ce1a8e5b5.png">

Something I noticed is that when opening the c

[2020-04-11 11:03] EfosaSO opened #92 "On saveConsent(true) does not update state.havePreferencesChanged"
We ran into this weird issue when loading the consent manager using the consent manager builder.

We have a button that "Allows all cookies" and on first time load that button would run successfully but the page never reloaded, neither did the analytics initialise.

To get it to work, we would have to disable a cookie destination and save, which ran the `handleSetPreferences` and that updated the

[2020-04-15 09:07] danielstjules commented on #91
Hi @federico-fiorini! To confirm, you're using the react components rather than the standalone script? Does this same issue exist with the standalone?

Is this code active on an URL for testing or to help reproduce?

[2020-04-15 15:39] federico-fiorini commented on #91
Hi @danielstjules! I think we're using the standalone. Our script looks like this:

[code]

It's active on our dashboard pages (which is where we see the errors being reported) e.g. https://webflow.com/dashboard however I wasn't able to reproduce on my end

[2020-04-15 16:46] federico-fiorini commented on #91
@danielstjules by looking at the stacktrace of the error it seems like it's happening [here](https://github.com/segmentio/consent-manager/blob/master/src/consent-manager-builder/fetch-destinations.ts#L14)? Is it possible that the integration endpoint returns a badly formatted json response? Could this have anything to do with ad blockers?

[2020-04-16 00:19] danielstjules commented on #91
Thanks! Tested on the site, and signed up to view the dashboard as an auth'ed user and was unable to reproduce.

Can you confirm that you're able to load the following URL? https://cdn.segment.com/v1/projects/j8cpth9hiw/integrations If you're able to reproduce this issue your own machine, could you open a support ticket and send us a HAR file containing the network requests that led to the error.

[2020-04-16 04:34] danielstjules commented on #91
Going to https://webflow.com/ it seems like you might be loading ajs twice?

<img width="850" alt="Screen Shot 2020-04-15 at 9 33 17 PM" src="https://user-images.githubusercontent.com/817212/79414927-d11abd80-7f60-11ea-9cc8-65e1fe58b09e.png">

[2020-04-16 05:00] danielstjules commented on #91
@federico-fiorini Regarding:

Team has been able to replicate and are narrowing down on the exact cause of the bug!

[2020-04-16 15:34] federico-fiorini commented on #91
@danielstjules thanks!

That was my initial thought too but I wasn't able to reproduce even by enabling ad blockers. The /integrations request is blocked but it doesn't error with `Unexpected end of JSON input`. In fact the consent manager code seems to handle failed requests. It seems to me that this error would happen if the request is successful but returns a bad response. I wonder if certain a

[2020-04-17 15:18] notfelineit commented on #91
Hey @federico-fiorini :-)

Regarding:

We just pushed a fix here: https://github.com/segmentio/consent-manager/pull/95 and have released a new version, 4.5.1. Thank you for your patience!

[2020-04-17 18:10] federico-fiorini commented on #91
Hi @notfelineit 👋Thanks for letting me know! I'll update to the new version

[2020-04-21 00:07] vitaly-latacora opened #97 "Updating outdated dependencies"
Hey folks, in looking at this tool, we noticed a number of outdated dependencies, judging by the output of `npm i --package-lock-only` and `npm audit`. We also noticed a few pull requests from dependabot. Some have security implications, including cross-site scripting. Most are several deps down the chain, and some may just be false positives or have no bearing on consent-manager.  We're wondering

[2020-04-24 13:38] elsamjoll commented on #71
Also happening to me, this makes it so much harder for the user to opt out.

[2020-04-27 20:07] jrpersico commented on #75
Have you found a solution to integrate it with vue.js ?

[2020-04-28 19:02] federico-fiorini opened #99 "implyConsentOnInteraction not setting consent"
`implyConsentOnInteraction: true` setting doesn't seem to work as expected. When clicking on the page it closes the the banner as expected but consent is not implied and events don't start being tracked. Also on page refresh the banner pops up again because the preferences hadn't been set.

[Here's a screen record](https://share.getcloudapp.com/Jrubq2ze) where you can see that even after interacti

[2020-04-30 12:28] ajascha opened #100 "Standalone script: Container not found"
Hi everyone,

I am trying to install the Consent Manager to our Webflow site and I have copied this script in our Head section (see long script below, copied straight from https://github.com/segmentio/consent-manager#callback-function), only replacing the link to our `data collection policy` and the `write key`.

The consent manager is not loaded on the website and I am getting the following error

[2020-04-30 16:11] ajascha commented on #100
I don't know what I was thinking but of course that was the missing piece... Thank you so much @prigiattiperrut!

[2020-04-30 16:11] #100 closed

[2020-05-04 13:01] bartschelfhout opened #101 "Setting custom anonymous ID"
We are using our own anonymous ID with segment in order to reduce the number of different user identifiers in our data space.

We achieve this by adding the following piece of code prior to any tracking code firing;

analytics.ready(function() {
    analytics.user().anonymousId(our_anonymous_identifier);
});

When using the consent manager, analytics is not ready until user interaction with the ba

[2020-05-08 11:10] motin commented on #99
Same here in 4.5.1 and 5.0.0. Tried debugging it and after about 40mins I gave up. Reverting to 4.3.0 fixes this, so this is a regression that occurred between 4.3.0 and 4.5.1 and has not been fixed in 5.0.0.

[2020-05-08 17:17] niallzato opened #104 "On Standalone script closeBehavior: accept does not work"
**Issue**
For the standalone script the following does not work as expected:
https://github.com/segmentio/consent-manager#closebehavior
closeBehavior: 'accept'
 This behavior is a regression as it works in version 4.3.0 but no longer works in 5.0.0
**Steps to reproduce**
Page with 5.0.0, note closing the banner does not accept consent
https://prigiattiperrut.github.io/consentmanager3.html

Page wi

[2020-05-08 19:34] notfelineit commented on #104
Thanks for reporting this! :-) We will prioritize this bug fix ASAP

[2020-05-10 00:44] jrpersico-spurred opened #106 "Vue integration ?"
Hi, thank you for this plugin !

Are there any guides on how to integrate this with Vue?

Thanks !

[2020-06-04 14:53] jalberto commented on #104
hi, @notfelineit is there any progress on this?

[2020-06-18 16:10] bryszard commented on #92
I have a similar problem - using the `ConsentManagerBuilder` we have the banner and we use `closeBehavior="accept"` option, so my expectation is that when I dismiss the banner, preferences will be save to the cookie.

However, this is not the case. The condition in [here](https://github.com/segmentio/consent-manager/blob/master/src/consent-manager-builder/index.tsx#L292) returns `false` and the ba

[2020-07-15 12:08] ajascha opened #112 "openConsentManager button of standalone script enforces background color"
Hi everyone, our marketing site runs on Webflow and we have embedded the button for opening the tracking settings. It appears that it comes with the same background color that has been specified for the banner, other styling options are not affected. Does anyone know how to deal with this?

https://www.loom.com/share/fe47ab9740f245d0b001e8c5f34ad090

[2020-07-17 11:12] ashokdelphia commented on #71
Is there any update here?

It's impossible to respect a user's desire to opt-out of tracking if this feature is enabled.

[2020-07-23 11:22] grandmastermilo commented on #99
@motin im still getting the problem after reverting to 4.3.0. Any tips?

[2020-07-23 11:40] grandmastermilo commented on #104
@niallzato still getting the issue on 4.3.0. any tips or other dependencies?

[2020-08-25 08:54] motin commented on #10
Also affected, using Gatsby. To use the workaround proposed by @ahallora, one needs to use https://www.gatsbyjs.com/docs/browser-apis/#wrapPageElement since there is no app.js in Gatsby.

[2020-09-09 11:39] nilsborg opened #120 "React ConsentManager throws css interpolation errors"
Hey everyone,

I'm in the process of integrating the cookie consent manager into our website. I added the React component as outlined [here](https://github.com/segmentio/consent-manager#example) and it works and everything. But I'm getting these errors in the console:

[code]

Anyone any idea what's going on?
Thanks!

[2020-10-07 14:45] joker402 opened #121 "ConsentManager with initialPreferences doesn't set the cookie"
I am using the ConsentManager react component and passing initialPreferences as follows in order to have the radio buttons prefilled on the "no" option:
[code]
When I don't change any of the radio button values and I click "save":
- (expected) the panel is closed and the cookies banner is hidden;
- (not expected) no cookie `tracking-preferences` is set.
The next time the page is refreshed or the r

[2020-10-07 21:13] blindman commented on #104
I ran into this issue using the React component and was able to solve it by using a passthrough function.

`closeBehavior={(categories) => categories}`

This sets all the preferences to `null` and properly sets the cookie as though all are accepted.

[2020-10-19 12:47] rpholdaway commented on #35
It was fixed in my case by adding a destination to the source (then waiting about 90 mins for it to take effect).

[2020-10-23 14:25] luistorres commented on #121
I'm facing the exact same issue, though I noticed that on segment website it behaves correctly. Are they using a different internal version of this component, or are the docs somehow incomplete?

[2020-10-26 16:41] luistorres commented on #121
@joker402 downgraded to version 4.2.2 (which is the one used on segment website afaik) and it seems to work...though this is a bit weird as it doesn't show up on changelog.

[2020-10-30 15:13] borisrorsvort opened #122 "Using initialPreferences with Consent manager builder actually loads scripts"
Considering this implementation
[code]

I notice that as soon as the component initialise, the scripts included in these categories actually load and set cookies (like amplitude cookie, not the tracking-preferences though).

Is this the normal behaviour ?

[2020-11-02 16:47] borisrorsvort commented on #122
@notfelineit @dk1027 Seems to me it shouldn’t load anything before consent ? Any thoughts?

[2020-11-06 15:06] borisrorsvort commented on #56
@cookiescrumbs Might be because you have set initial preferences to true. If yes then it’s related to https://github.com/segmentio/consent-manager/issues/122

[2020-11-20 14:17] kilinkis opened #125 "Is it possible to use a different cookie name?"
By default, the preferences are stored in a cookie called `tracking-preferences`.
Is it possible to use a different cookie name?

thanks

[2020-11-20 15:49] jdahdah commented on #10
Is there any way to prevent reloads with this in Gatsby without having to utilize `wrapPageElement`? I'm using [gatsby-plugin-intl](https://github.com/wiziple/gatsby-plugin-intl) and running into tons of issues when I go anywhere near `wrapPageElement`.

[2020-11-24 00:18] BradDenver commented on #76
I also have a user having this issue on iPhone X on our site as well as when they click the Website Data Collection link in the footer of https://segment.com/

[2020-11-24 18:02] Edjevw12 commented on #15
Any progress on this?

[2020-12-08 16:04] nesbtesh opened #127 "Accepting the consent is causing my site to refresh endlessly"
Whenever you save the segment concept cookies the websites refreshes endlessly

[2020-12-08 16:32] nesbtesh commented on #127
You can take a look here: https://staging.noritex.com/es/

[2020-12-09 15:37] Intrepidd commented on #104
This is still happening

[2020-12-12 17:42] Dezzymei commented on #97
👍

[2021-01-06 06:23] s-herbert commented on #127
I've just encountered this as well

[2021-01-08 12:26] Dezzymei commented on #121
I have the same issue. It always seems to show, unless I hit no for one item.

[2021-01-08 12:29] Dezzymei commented on #127
I think you need to make sure you comment out or remove the line:

```analytics.load('your_key');```

That was an issue for me but the documentation says you need to do this for it to work.

[2021-01-08 12:34] Dezzymei commented on #121
Even downgrading doesn't seem to solve my problem.

[2021-01-08 13:02] Dezzymei commented on #121
I managed to fix this by adding this to the list of properties on ConsentManager:

          closeBehavior={(categories) => categories}

as per https://github.com/segmentio/consent-manager/issues/104

This should probably be added by default?!

[2021-01-12 16:57] camsloanftc commented on #92
I was struggling with this as well in using ConsentManagerBuilder. I ended up doing a custom `opIn` function:
[code]

Thanks to "setPreferences" above, this triggers the consent to actually save the cookie because it matches the `prevState.havePreferencesChanged` condition in this part of the code:
[code]

I have to say this has been a pretty frustrating experience so far.

[2021-01-20 15:55] kyleferguson opened #129 "Show consent banner without 3rd party integrations"
After trying to figure out why the banner would not show up we realized that it only appears if Segment reports integrations using the provided write key. This is problematic when the only destination for the data is the configured data warehouse but that does not count as an "integration" and therefore the privacy banner never shows up.  Our only option is to manually show the consent modal / man

[2021-02-02 18:50] s-herbert opened #131 "Can shouldRequireConsent = false, and still display the Banner?"
Hi,

I find it strange that `shouldRequireConsent` is coupled with banner visibility:

In the US (or non-EU), we want this to be false BUT STILL display the banner so that users get the message and can change their preferences.

My current solution was to hand-make a banner when `inEU` returns false -- but i feel like there must be another way.

Anyone happen to know what I missed?

Thanks

P.S. u

[2021-02-08 15:42] corydhmiller commented on #104
We also ran into this issue with 4.13.1 in the standalone version. We ended up passing @blindman's fix in the params:

[code]

[2021-02-11 22:54] kelcook commented on #127
We are seeing this same behavior on https://segment.build/designsystem/.

[2021-02-23 17:47] davebrewer commented on #10
wrapPageElement didn't work for us but wrapRootElement did.

[2021-02-24 14:23] roosterhack opened #132 "Is there a way to customise the consent Banner?"
Hallo, I am just wondering if there is a way to customise the consent Banner? For example, I want to be able to have my own UI and have the same functionality? Cheers

[2021-03-10 13:48] Dezzymei opened #135 "Warning: componentWillMount has been renamed, and is not recommended for use."
Using React 17.x I get this error whenever I use the consent manager.

[2021-03-10 13:48] Dezzymei commented on #97
I also have two audit issues from npm:

│ Low           │ Regular Expression Denial of Service                         │
│ Package       │ debug                                                        │
│ Patched in    │ >= 2.6.9 < 3.0.0 || >= 3.1.0                                 │
│ Dependency of │ @segment/consent-manager                                     │
│ Path          │ @segment/consent-m

[2021-03-14 15:21] Intrepidd opened #137 "Internationalization / Customizing the content of the consent manager"
Hi,

The text within the consent manager seems to be hardcoded in english :

https://github.com/segmentio/consent-manager/blob/e63972cb79142efda93dab8fc6e89d99a90af827/src/consent-manager/preference-dialog.tsx#L166-L170

Is there any plan to support internationalization or letting the user specify those strings in a drop-in manner without having to reimplement a react component ?

Thanks

[2021-03-16 11:57] alexhansonsmith commented on #101
Hi @bartschelfhout - did you get anywhere with this? Without being able to control the identifier our MTU usage has spiked considerably

[2021-03-16 13:21] bartschelfhout commented on #101
Hi @alexhansonsmith I did actually.
Just to give some context fist:
Our own anonymous identifier is being created by a piece of javascript that is loaded from the head of our website, hence the identifier is available in way before the entirety of the page loads.

What we discovered is that the consent manager does a series of lookups before generating a new identifier, to find if there was a prev

[2021-03-18 08:39] alexhansonsmith commented on #101
Hey @bartschelfhout - this is really helpful. Thanks for such a comprehensive response!

[2021-03-19 08:27] borisrorsvort commented on #131
@s-herbert lot’s of privacy issues still. I noticed this happens too https://github.com/segmentio/consent-manager/issues/122

[2021-03-22 21:38] nesbtesh opened #138 "How do you add an Accept Button?"
How do you add an accept button to accept all the cookies?

![Screen Shot 2021-03-22 at 4 38 26 PM](https://user-images.githubusercontent.com/3814044/112061802-0a728a80-8b2d-11eb-9655-313bf78f12b8.png)

[2021-03-26 10:19] roosterhack opened #139 "Consent banner trigger multiple times after tracking is accepted by user"
We are using consent manager in both our marketing site and our own application. If the user accepted tracking consent in the marketing site, in our application, the consent manager should not invoke to ask the user to consent tracking again. When the user accepted tracking in our application, she goes back to the marketing site, the consent banner invokes again even tho all tracking is already ac

[2021-04-06 11:31] dmitry-zaets opened #141 "Is the repo still maintained?"
Looks like the repo hasn't been maintained for a while. Can you guys give away member permission to someone who can at least merge the dependency updates to fix the vulnerabilities?

[2021-04-14 11:42] dmitry-zaets commented on #132
AFAIK not at the moment, the banner implementation is fixed: https://github.com/segmentio/consent-manager/blob/master/src/consent-manager/banner.tsx

[2021-05-03 16:24] MoSattler opened #146 "Saving preferences starts a reloading loop"
We're currently trying to use consent-manager for our **nextJS** app, but we keep ending up in a refresh loop.

Our code is fairly simple
[code]

After the preference was selected by the user, and then saved, the page refreshes, which is expected. But after the app renders, including the ConsentManager, the following happens:

1. `ConsentManagerBuilder.componentDidMount` [calls the inititalise](ht

[2021-05-04 12:47] Dezzymei commented on #141
Seconded please

[2021-05-12 19:47] #125 closed

[2021-06-03 08:01] blackge commented on #139
+1

[2021-08-11 10:50] adrianwix opened #158 "More examples"
Please provide complete examples of usage with Nuxt, Vue, React, Next and Angular. I don't think it's in your interest for developers everyone to hate working with your product because of the bad DX. Thanks :D.

Let me do a quick example of good DX

[code]

[2021-08-12 08:34] epragalakis commented on #146
any updates on this?

[2021-08-16 09:09] santialbo commented on #141
Can we get an update from segment? @pooyaj
@dmitry-zaets I've seen you forked the repo and made a few changes, have you published it on npm?

Is it worth start using this library as of today?

[2021-08-16 09:45] dmitry-zaets commented on #141
Yes, we've posted it as https://www.npmjs.com/package/@boatim/consent-manager for now.
We are going to add an option to show the popup with an overlay, so it's more visible to the end-user.

[2021-08-30 15:36] rzane opened #159 "Does this package need to depend on EventEmitter?"
EventEmitter is a node built-in. This module is intended for the browser.

When this module is bundled with webpack, it'll shim the `events` package. But, that brings in a large dependency and ties this package to webpack's shimming behavior.

The browser has a very similar API: [EventTarget](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget). It looks like it's be pretty straightforwar

[2021-09-01 14:05] jesshas opened #161 "Close button"
Could you pass a conditional parameter to <CloseButton> in the <Banner> component so it doesn't have to show?

[2021-09-02 14:46] mbliok commented on #161
How to close ConsentManagerBuilder ?

[2021-09-02 17:42] felipe-najson-ntf commented on #27
Hi everyone! I want to emphasize that most of the content is customizable in the current version of consent-manager as detailed here https://github.com/segmentio/consent-manager#bannercontent.
I will be working these days to make the "settings table" customizable as well.

We will close this issue and continue the discussion in another issue since it is duplicated. Thank you for your contribution!

[2021-09-02 17:52] felipe-najson-ntf commented on #10
Hi everyone! I adhere to what @nettofarah says. Verify that you have followed the steps of use correctly to not have problems. In the current version of consent-manager no reload errors have been found. If anyone continues to have problems, feel free to open a new issue.

We will close this issue definitively, thank you for your contribution.
Segment Team.

[2021-09-02 17:57] felipe-najson-ntf commented on #56
@cookiescrumbs @borisrorsvort Thanks for your contribution. I adhere to what Boris says. If you continue to have problems, feel free to open a new issue.
We will close this issue and continue the discussion in #122.

Segment Team

[2021-09-02 18:12] nd4p90x commented on #10
Please feel free to re-open this issue or a new one if the issue persists.  Duplicate of newer issue #127 . Thank you

[2021-09-02 18:12] #10 closed

[2021-09-02 18:14] nd4p90x commented on #27
Please feel free to follow along with the new issues as @felipe-najson-ntf suggests.  Thank you

[2021-09-02 18:14] #27 closed

[2021-09-02 18:15] nd4p90x commented on #56
Please feel free to follow the new issue as @felipe-najson-ntf suggests.  Thank you

[2021-09-02 18:15] #56 closed

[2021-09-03 13:33] felipe-najson commented on #75
Hi everyone! Sorry for the late reply. I will be giving an update on this in the next few days.

On the other hand, I will close this issue and continue the discussion in another issue since it is duplicated. Thank you for your contribution!
Duplicate of #106

Segment Team.

[2021-09-03 13:38] felipe-najson commented on #81
Hello @lopno. Sorry for the late reply. I will be working on this problem in the next few weeks, I will be giving an update on another more recent issue since this one is duplicated.

I will close this issue and continue the discussion there.
Duplicate of #104

Segment Team.

[2021-09-03 13:42] felipe-najson-ntf commented on #75
Hi everyone! Sorry for the late reply. I will be giving an update on this in the next few days.

On the other hand, I will close this issue and continue the discussion in another issue since it is duplicated. Thank you for your contribution! 
Duplicate of #106

Segment Team.

[2021-09-03 13:43] felipe-najson-ntf commented on #81
Hello @lopno. Sorry for the late reply. I will be working on this problem in the next few weeks, I will be giving an update on another more recent issue since this one is duplicated.

I will close this issue and continue the discussion there. 
Duplicate of #104

Segment Team.

[2021-09-07 01:54] camwest commented on #76
This fixed it for me:

<img width="611" alt="Screen Shot 2021-09-06 at 9 53 55 PM" src="https://user-images.githubusercontent.com/22905/132272354-2ecfceea-d16f-4082-8c5e-accd34289700.png">

[2021-09-07 14:52] #75 closed

[2021-09-07 14:53] #81 closed

[2021-09-08 14:45] felipe-najson-ntf commented on #158
Hi @adrianwix, sorry for the late reply.

Consent Manager and ConsentManagerBuilder are based on React components, so it is not currently compatible with other frameworks such as Vue.js or Angular. In case you want to use it in other framework than React, you have to use Standalone implementation.
https://github.com/segmentio/consent-manager#standalone-script

I will be adding this note to the doc

[2021-09-08 14:48] felipe-najson-ntf commented on #106
Hi @jrpersico-spurred, sorry for the late reply.

Consent Manager and ConsentManagerBuilder are based on React components, so it is not currently compatible with other frameworks such as Vue.js or Angular. In case you want to use it in other framework than React, you have to use Standalone implementation.
https://github.com/segmentio/consent-manager#standalone-script

I will be adding this note to

[2021-09-08 14:51] felipe-najson-ntf commented on #78
Hi @samuelkahr, as @notfelineit mentions, this issue has been resolved and we are currently on version 5.2.0 of consent manager.

Segment team

[2021-09-08 14:53] felipe-najson-ntf commented on #57
Hi @cookiescrumbs, as @ahallora mentions, this was added to the documentation.
Thanks for your contribution.

Segment team.

[2021-09-08 15:58] hoomanaskari commented on #146
Having the same issue!

[2021-09-09 15:13] #57 closed

[2021-09-09 15:13] #78 closed

[2021-09-09 15:14] #106 closed

[2021-09-09 15:14] #158 closed

[2021-09-10 10:18] ferrucc-io opened #165 "Broken link in read me on how to use consent manager"
[code]

First thing: the link in the Readme to `analytics.js snippet` points to `https://segment.com/product/connections/sources/catalog/libraries/website/javascript/quickstart/#step-1-copy-the-snippet`  which is a broken link

Second it's not clear how to load the consent manager on a nextjs app like this one: https://github.com/vercel/next.js/tree/canary/examples/with-segment-analytics

[code]

[2021-09-10 13:42] felipe-najson-ntf commented on #141
Hello everyone! I will be working during these time to solve all the repository issues and keep it updated.

Segment team.

[2021-09-10 13:50] felipe-najson-ntf commented on #139
Hi @roosterhack, sorry for the late reply. Does the problem still persist? If so, maybe you can give me more information about the context in which you use consent manager to help you.

For instance:
- What version do you use? Standalone script, Consent Manager or ConsentManagerBuilder only?
- What is your application and your marketing site built on? React, Vue.js, JavaScript only?

Thanks, segme

[2021-09-10 13:54] felipe-najson-ntf commented on #127
Hi everyone! I adhere to what @Dezzymei says. Verify that you have remove that line in the script. In the current version of consent-manager no reload errors have been found. If anyone continues to have problems, feel free to open a new issue.

We will close this issue definitively, thank you for your contribution.
Segment Team.

[2021-09-10 14:49] felipe-najson-ntf commented on #55
Hi everyone! Sorry for the late reply, we finally fixed this issue. The path to types directory was wrong but as you can see with pr #126 this was fixed.

Segment team.

[2021-09-10 18:48] #141 closed

[2021-09-10 18:48] #127 closed

[2021-09-10 18:49] #91 closed

[2021-09-10 18:50] #55 closed

[2021-09-10 21:55] #76 closed

[2021-09-10 21:55] #104 closed

[2021-09-10 21:55] #132 closed

[2021-09-10 21:55] #138 closed

[2021-09-10 21:55] #161 closed

[2021-09-14 13:27] felipe-najson-ntf commented on #120
Hi @nilsborg, sorry for the late reply. Are you still having trouble using Consent Manager?
We have just published a new version of the library and the component is working correctly. Try to install this new version and try it again.
I will be closing this issue because this problem has not been found anymore. If your problem still persists, feel free to open a new issue.

Segment team

[2021-09-14 13:37] felipe-najson-ntf commented on #165
Hello @ferrucc-io, thanks for advising. The link has already been fixed.
On the other hand, I will be working these days to add an example of how to use the library in a nextJS application.

Segment team.

[2021-09-14 13:50] felipe-najson-ntf commented on #15
Hello everyone, it has been a long time since this problem, with @fforres merge #31, it was fixed. The library currently supports the onError callback option that catches errors when defined and continues without handling errors when undefined.
Therefore I will be closing this problem.

Segment team

[2021-09-14 13:54] felipe-najson-ntf commented on #18
Hello everyone, a note before closing the issue. This was resolved by migrating to Preact (so we can get support for hooks).

Therefore, I will be closing this issue.

[2021-09-14 14:01] felipe-najson-ntf commented on #19
Hi @BrunoBoehm, sorry for the late reply. Once you accept the consent, the banner does not appear anymore.
Therefore if a client want to delete the cookies the only way is manually from the browser console.

Maybe it can be a good feature for the future, but for now we are not considering it. Thanks for your contribution!

On the other hand I will be closing this issue. Segment team

[2021-09-14 14:09] felipe-najson-ntf commented on #26
Hi @eveadele, this issue is related to the following issue #137. It is a good feature that we are considering to implement, we will continue the discussion there. Thanks for your contribution!

Greetings, segment team.

[2021-09-14 14:39] felipe-najson-ntf commented on #35
Hi everyone, sorry for the late reply. The standalone version is working correctly in the current version of consent manager, the documentation has been updated also for a clearer installation.
Here I leave a link.
https://github.com/segmentio/consent-manager#standalone-script

If you continue to have problems feel free to open another issue. On the other hand, I will close this issue since it was

[2021-09-14 14:45] felipe-najson-ntf commented on #137
Hi @Intrepidd, sorry for the late reply. Many people are asking for this feature so we will be working these weeks to make the consent table more customizable.

I will notify you when I have an update on this feature.

Regards, segment team

[2021-09-15 09:06] borisrorsvort commented on #122
@nd4p90x @felipe-najson-ntf Could you confirm the issue at least?

[2021-09-15 13:27] felipe-najson commented on #44
Hi everyone! Sorry for the late reply. As @nettofarah says, we need more information or an example to reproduce the error. In this case we didn't get a response, so we will be closing this issue.

Thanks, segment team.

[2021-09-15 13:28] felipe-najson-ntf commented on #44
Hi everyone! Sorry for the late reply. As @nettofarah says, we need more information or an example to reproduce the error. In this case we didn't get a response, so we will be closing this issue.

Thanks, segment team.

[2021-09-15 17:43] #15 closed

[2021-09-15 17:44] #18 closed

[2021-09-15 17:45] #26 closed

[2021-09-15 17:45] #35 closed

[2021-09-15 17:46] #44 closed

[2021-09-15 17:46] #120 closed

[2021-09-16 11:34] Lewitje opened #168 "Error with addSourceMiddleware"
I get the error:
`TypeError: Cannot read properties of undefined (reading 'addSourceMiddleware')`

![image](https://user-images.githubusercontent.com/4394390/133604928-e8add7bf-a500-4ecb-a33d-8d082e46a92c.png)

![image](https://user-images.githubusercontent.com/4394390/133604964-f99a6ddd-9f55-4d82-947a-36224bedffd6.png)

[2021-09-16 13:24] felipe-najson-ntf commented on #159
Hoal @rzane, thanks for your contribution. Currently the consent manager depends on Event Emmiter because it is a native implementation of nodejs, rich in functionality that fulfills its task.
At the moment it is not our priority to change this package as it does not present errors or performance problems. We will save it in the backlog in case the change needs to be made in the future.

Thanks, s

[2021-09-16 14:35] felipe-najson-ntf commented on #146
Hi everyone, it seems that the problem is that analytics.load() is executing twice and therefore it is in loop. I will be working to fix this problem these days.

I would like to know how you are loading the segment snippet in order to reproduce your problem.

Thanks, segment team!

[2021-09-16 14:50] rzane commented on #159
Okay, I understand your perspective.

To be clear, when this module is compiled with webpack, it will replace the `events` package with a shim. At which point, it is no longer a native implementation of Node. As far as I can tell, this library actually depends on [this package] (https://www.npmjs.com/package/events). That's not documented by webpack, though.

The main reason I reported this as an

[2021-09-17 11:29] Fernan-Ramos commented on #168
I have the same problem, I have try to change the version from but the problem persists, any idea?  Thanks!

[2021-09-17 16:10] #19 closed

[2021-09-17 16:27] #146 closed

[2021-09-17 16:27] #165 closed

[2021-09-17 16:49] felipe-najson-ntf commented on #146
Hi everyone! @MoSattler @epragalakis @hoomanaskari. Last comment, the problem was the one described above, we left a guide on how to integrate Consent Manager with Next.js in our documentation.
https://github.com/segmentio/consent-manager#example-in-nextjs

Any problem, please open another issue. Thanks, segment team.

[2021-09-17 16:53] felipe-najson-ntf commented on #168
Hi @Lewitje @Fernan-Ramos, could I get more information about how you are using it?

For instance
- What version of consent manager are you using?
- What kind of implementation do you use? Standalone, Consent Manager or ConsentManagerBuilder?
- In what framework are you using the library? React.js, Next.js or plain JavaScript?

Thanks, segment team.

[2021-09-17 16:57] felipe-najson-ntf commented on #135
Hi @Dezzymei, the issue still persists. Apparently the warning is not due to Consent Manager by itself but to a third-party library that uses this method. I will be investigating these days to update that dependency in order to remove the warning. I will keep you updated.

Thanks, segment team.

[2021-09-17 21:32] pooyaj commented on #34
Resolved in https://github.com/segmentio/consent-manager/pull/110

[2021-09-17 21:32] #34 closed

[2021-09-17 21:35] #39 closed

[2021-09-20 07:41] Fernan-Ramos commented on #168
Hi
I’m using the 5.1.0 version and the implementation is Consent Manager on react js. Instead I try to use the 5.2.0 and the 5.3.0 version but the error persists. On incognito mode the error not appear, could be related with the cookies or something similar?
Thanks

[2021-09-20 09:11] Lewitje commented on #168
I'm using:
- 5.2.0
- Standalone
- Nuxt JS

Not sure if this is related but `window.consentManager.openConsentManager()` doesn't work after the user has saved their cookie preferences, only before.

[2021-09-20 14:36] felipe-najson-ntf commented on #80
Hi @lopno, it seems you're using ConsentManager component. The component does not have a property to add styles but what you can do is wrap the component 'ConsentManager' inside a div and customize that container.

Example
<img width="618" alt="Screen Shot 2021-09-20 at 11 35 17" src="https://user-images.githubusercontent.com/89416739/134020866-3b8921a0-461d-46b3-a2a4-f332b9f917b5.png">

Hope this

[2021-09-20 15:13] felipe-najson-ntf commented on #97
Hi @vitaly-latacora @Dezzymei. I just left a pr #170 open which updates the library's dependencies and fixes its vulnerabilities. We will be working these days to merge it.

Thanks, Segment team

[2021-09-20 18:16] labananala commented on #146
Hi @felipe-najson-ntf , thanks for looking. I also have this same reloading issue with `ConsentManagerBuilder`, but my team is not using Next.js. We are temporarily working around it by using a forked version of this consent-manager repo with a small change in `ConsentManagerBuilder`- passing in `shouldReload = false` into the `conditionallyLoadAnalytics()` call [under the isConsentRequired line](

[2021-09-21 14:06] felipe-najson-ntf commented on #122
Hello @borisrorsvort, sorry for the late response, I will be working these days to help you with this issue. Could you first share the "mapCategories" function used in "mapCustomPreferences" so I can reproduce this case?

Thanks, segment team.

[2021-09-21 14:38] felipe-najson-ntf commented on #41
Hi msiglietto, sorry for the late reply. You can access the categories through the destination object. As described here
https://github.com/segmentio/consent-manager#destinations

Example:
![image](https://user-images.githubusercontent.com/89416739/134191280-4e048465-9149-4a6c-8f10-05e6a4822441.png)

Output:
![Screen Shot 2021-09-21 at 11 36 09](https://user-images.githubusercontent.com/89416739/1

[2021-09-21 16:42] bhatiak commented on #90
Thanks @felipe-najson-ntf. I'll take a look at the new docs 👍

[2021-09-22 13:35] felipe-najson-ntf commented on #66
Hi @ahallora, in the current version there is no function to call a callback function but I will add it to the backlog to consider it in the future!
On the other hand the banner will close only when you accept the consent, therefore you don't have to handle that with a callback function. Otherwise you can change certain properties like "implyConsentOnInteraction 'or" shouldRequireConsent" to give

[2021-09-22 14:04] felipe-najson-ntf commented on #71
Hi @ashokdelphia @elsamjoll, sorry for the late reply.
This issue has been fixed and there is no such bug in the lastest version of the library. I tested it in chrome, firefox and safari and it works fine.

**Current Behavior**
- When you click once on the Website Data Collection Preferences table, set all the fields to true (preference taken by the team)
- From here you can change the category co

[2021-09-22 14:49] felipe-najson-ntf commented on #159
Hello again @rzane. I understand your concern and I am reporting it to the team to finally make a decision because it's a breaking change and it would be necessary to test that it works fine in all the frameworks that currently use consent manager. In addition to getting into Vite, which is unknown territory for us.

Thank you for your contribution, in the next few days we will be discussing this

[2021-09-22 14:55] felipe-najson-ntf commented on #135
Update. @Dezzymei

As we suspected the problem is in a third party library called "react-emotion". For my research we would need to migrate to "@emotion-styled" as documented here.
https://www.npmjs.com/package/react-emotion
Which is not straightforward. At the moment it is a warning so we will lower the priority of this issue and discuss with the team what decision to make.

Thanks for your contr

[2021-09-22 17:18] #41 closed

[2021-09-22 17:42] #139 closed

[2021-09-22 17:42] #90 closed

[2021-09-22 17:43] #97 closed

[2021-09-23 12:48] felipe-najson commented on #131
Hi @s-herbert, sorry for the late reply.
That's the expected behavior of the "shouldRequireConsent" property.

In your case you want to start a tracking immediately and show consent you can use the property "implyConsentOnInteraction = true"
which will start tracking immediately once the user interacts with the page but will show the banner once in case the user prefer to change preferences.

Anot

[2021-09-23 12:49] felipe-najson-ntf commented on #131
Hi @s-herbert, sorry for the late reply.
That's the expected behavior of the "shouldRequireConsent" property.

In your case you want to start a tracking immediately and show consent you can use the property "implyConsentOnInteraction = true"
which will start tracking immediately once the user interacts with the page but will show the banner once in case the user prefer to change preferences.

Anot

[2021-09-23 13:36] borisrorsvort commented on #122
@felipe-najson-ntf  Here you go:

[code]

So since `implyConsentOnInteraction` is false by default, it should not load anything nor set any cookie before the user confirms (in our case user cannot dismiss the banner)

![CleanShot 2021-09-23 at 15 29 17](https://user-images.githubusercontent.com/39081/134516811-3ab4e552-a6be-4682-975f-65690a222113.jpg)

![CleanShot 2021-09-23 at 15 24 05](https://u

[2021-09-24 14:37] felipe-najson-ntf commented on #74
Hi @clemblanco, I will answer your questions below.

**Can we invalidate and ask for consent again?**
Once the user accept the consent, the information is saved into a cookie and until that cookie expires or is manually deleted. The banner will not appear again.

In case you want a new destination is added to segment you can manage the behavior of the banner with the property "defaultDestinationBe

[2021-09-24 14:47] felipe-najson-ntf commented on #77
Hello @MaisonDeVolonte, sorry for the late reply.

Thanks for your contribution, I will be evaluating it and consulting it with the team.
I will give you an answer in these days.

[2021-09-24 15:13] felipe-najson-ntf commented on #112
Hi @ajascha, sorry for the late reply.
I'm not sure which button you mean, but you can customize a button and set an event that when you click it, simply open the tracking settings as seen here.

![image](https://user-images.githubusercontent.com/89416739/134698355-041dc79c-d60a-4f8c-9213-718195fe2e7f.png)

On the other hand, I leave you the customizations that can be made to the santadalone versi

[2021-09-24 15:20] ajascha commented on #112
We are past that point by now but I'm probably not the last one to wonder 😄 Thanks Felipe!

[2021-09-27 08:54] borisrorsvort commented on #122
@felipe-najson-ntf  any news?

[2021-09-27 17:42] #80 closed

[2021-09-27 17:42] #112 closed

[2021-09-27 17:42] #131 closed

[2021-09-27 22:17] #99 closed

[2021-09-28 13:25] felipe-najson-ntf commented on #99
@motin @federico-fiorini @grandmastermilo Hello everyone, the issue was resolved and merged to the repository. It will be available in the next release of the library that will be in these days.

Thanks for your contribution!

[2021-09-28 20:27] #66 closed

[2021-09-28 20:28] #71 closed

[2021-09-29 17:46] #101 closed

[2021-09-30 13:42] felipe-najson-ntf commented on #29
@ligustah @mantagen @jhoffmcd Hi everyone, the easiest way to override the ID is to overwrite it in the snippet as suggested in the documentation.
https://github.com/segmentio/consent-manager#setting-custom-anonymous-id

You can find other ways to manage the identity here.
https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/identity/

Thanks for your contribution.

[2021-10-04 23:50] pooyaj commented on #168
Hey @Lewitje @Fernan-Ramos, could you please check the version of your Segment Snippet? I'm suspecting you are using an outdated snippet, and therefore, the `addSourceMiddleware` method is unavailable (https://github.com/segmentio/consent-manager/blob/master/README.md?plain=1#L86-L108)

[2021-10-05 17:24] #137 closed

[2021-10-06 17:44] #20 closed

[2021-10-06 17:45] #74 closed

[2021-10-08 12:49] dskvr opened #177 "Unclear how to implement segment spec post-install"
When attempting to use any `analytics` method, such as `analytics.page()`, the following error is returned:

[code]

I've read through the readme several times, and this fairly important detail does not appear to be covered. The `.page()` method is referenced twice, once in the `nextjs` example and another isolated example for anonymous user IDs (which would predictably also through this error)

I

[2021-10-10 08:13] dskvr opened #178 "Stand-alone script with default implementation from README produces undesired characters in consent manager [Â Ã Â]"
Been trying to find the root cause of this for a while and I'm afraid I'm unable to find what's causing this. Using the example strait from the README without any modification other than the write key.

<img width="1565" alt="Screenshot 2021-10-10 at 10 12 36" src="https://user-images.githubusercontent.com/299465/136687965-644fb2fa-16d6-490f-b62d-492c32bd1d5a.png">

JS Console is clean as well.

A

[2021-10-12 15:00] felipe-najson-ntf commented on #178
Hello @dskvr, a little update. Apparently the symbols Â Ã Â that appear are related to the character 'of the quotation mark. I just tested the standalone version and it works fine.
Perhaps your browser does not support the symbol or you have inadvertently made a change in the snippet when pasting it.

If the error could continue, you could change the default text from the bannerContent prop.
![ima

[2021-10-12 17:01] #77 closed

[2021-10-14 20:59] #135 closed, assigned to nobody

[2021-10-15 16:05] #178 closed, assigned to nobody

[2021-10-28 08:44] LionelPaulus opened #185 "Builds are failing"
Hi,

All the [builds are failing](https://circleci.com/gh/segmentio/consent-manager) since 23 days and your changes are not deployed on npm.
For example, we are not able to use the new `preferencesDialogTemplate` prop because it has not been deployed.
Would it be possible to fix the build?

Thanks.

[2021-11-10 20:29] andreasmcdermott opened #189 "Errors for: "Cannot read properties of null (reading 'replaceChild')""
We are getting a lot of errors in Sentry with the following error message: `Cannot read properties of null (reading 'replaceChild')`

The stack trace is as follows:

[code]

I haven't been able to figure out why we are getting this error and I'm not able to reproduce it locally yet. Any idea of why this would happen?

[2021-11-10 21:06] nd4p90x commented on #189
@felipe-najson-ntf Please take a look into this as soon as possible, thank you.

[2021-11-11 13:18] felipe-najson-ntf commented on #189
Hello @andreasmcdermott this means that you are trying to read from an object that is not there.
I would need more information to be able to reproduce the problem and help you.

- What implementation of consent manager do you use? Standalone, Consent Manager or ConsentManagerBuilder?
- In what framework or language are you using the library?
- If possible, upload the code snippet where you impleme

[2021-11-11 16:43] andreasmcdermott commented on #189
This is initialized in plain JS using the standalone version.

 This is our code that initializes segment and the consent-manager:

[code]

`static/lib/segment` looks like this:

[code]

[2021-11-15 15:58] davidvenin opened #190 "preferencesDialogTemplate won't replace default value"
I am currently trying to replace default values for `preferencesDialogTemplate` following the doc :

- I copy paste the default one
- Here is the new :

[code]
<img width="748" alt="Capture d’écran 2021-11-15 à 16 57 14" src="https://user-images.githubusercontent.com/3694824/141813274-d9d4f175-b3c9-4fd9-a2ba-a823a5c5ec16.png">

As you can see, nothing happen for anything.

### Stack :
[code]

An

[2021-11-17 01:16] andreasmcdermott commented on #189
I have looked at this a bit more, and I've been able to reproduce it. It seems like it happens when a user has a active session, and we redirect them to a signed in page. Something like this:

* User goes to page A
* We run JS that checks if user is signed in
* If user is signed in, we redirect them to page B
* When redirect happens, the error mentioned above is printed to console.

[2021-11-17 11:56] felipe-najson-ntf commented on #190
Hi @davidvenin, DialogTemplate preference is not enabled in the current version.

For this to be available, we have to release a version of Consent Manager with the new features. I'm waiting for you to approve the pr #184 which is necessary to publish this new version.
Sorry for the delay. Please be patient, in these days we will publish this new version.

Greetings, Segment team.

[2021-11-17 12:55] felipe-najson-ntf commented on #189
Hello again Andrea, thank you for your information.

I have reproduced the case and it seems that the problem is in the identifyUser () function. Every time you call that function you are loading the script and it is not the expected behavior.

In my case what I did was just add the script to the index.html
![image](https://user-images.githubusercontent.com/89416739/142203555-3abcd4b4-6a60-41ce-b3

[2021-11-17 16:46] andreasmcdermott commented on #189
Thank you for getting back to me!

Could you help me understand what is the root cause and if there is a way for us to avoid the issue without major changes to how we import the scripts? I wasn't at the company when this was written, but my understanding from talking to people that was, is that we want to lazily import the dependency to improve page load times.

Our application is a "SPA", and `id

[2021-11-17 18:48] #185 closed

[2021-11-21 23:12] Titou325 opened #193 "Usage with @segment/analytics-next"
Hi, thanks a lot for this plugin which is very useful!

We are trying to move to @segment/analytics-next as part of our integrated React codebase and as such are now using webpack to bundle the analytics. It thus seems that they are no longer available at window.analytics and we can't use react hooks on the consent response.

Here is an example of the code that we have :

[code]

How could we easi

[2021-11-22 13:36] esquevin commented on #120
Hi @felipe-najson-ntf
If I install v5.3.0 this error is then raised on components that extends MaterialUI 4.12.3 props of elements.

It seems to be because of https://github.com/emotion-js/emotion/issues/1800. Material UI signature for the `css` property being different than emotion.

Maybe exposing a version of this lib without any styling would allow people to at least implement their own? A bun

[2021-11-24 17:08] LionelPaulus opened #194 "Tool-based consent system"
Hi,

Using the standalone implementation, how can I have a tool-based consent system instead of the current category-based one?

Desired result:
![image](https://user-images.githubusercontent.com/789782/143280829-466628cd-4d6e-4259-9713-d4251588b49c.png)

Thanks!

[2021-11-25 17:44] pooyaj commented on #193
hey @Titou325, unfortunately this is not possible with the existing implementation of consent manager. The consent manager assumes that `analytics` is available on the `window` object ( in this [method](https://github.com/segmentio/consent-manager/blob/master/src/consent-manager-builder/analytics.ts#L34) ) , and therefore, using the `npm` package is not compatible. This can be a good future improv

[2021-11-25 17:45] pooyaj commented on #194
hey @LionelPaulus, there are few examples of tool based implementation in the storybook. You can check out here: https://github.com/segmentio/consent-manager/blob/master/stories/3-tool-based.stories.tsx

[2021-11-25 17:45] #194 closed

[2021-11-25 17:53] LionelPaulus commented on #194
These are examples using the React implementation but my question is about the standalone implementation.
Is it possible to achieve the same result?

[2021-11-25 18:15] pooyaj commented on #194
Oh, I see. No unfortunately the standalone implementation uses category based consent. The only option is to use `ConsentManagerBuilder` and do a DIY UI layer.

[2021-11-25 20:03] kwent opened #195 "Support consent by scrolling"
Hi,

Would be good to support consent by scrolling as well.

Regards

[2021-11-30 15:11] felipe-najson-ntf commented on #122
Hi @borisrorsvort, we finally came to a conclusion on this topic. Apparently you and I were assuming a behavior which was not expected.

Yesterday we had a meeting with the Segment team leader and the expected behavior is what was already published. That is, when the user enters the web analytics for the first time, it is triggered and automatically begins to track without the user's consent. If y

[2021-11-30 15:44] #122 closed

[2021-11-30 17:22] #92 closed

[2021-11-30 17:22] #121 closed

[2021-12-01 10:40] davichetebadger opened #196 "Rendering empty div"
Hello everyone, I'm trying to show the **banner** with both the **standalone script** and the React way, and none of them works.
This is the code I'm using (I just used the code examples):
[code]

Is there anything I'm missing? Shouldn't this work out of the box?
Thanks in advance.

[2021-12-01 10:55] #196 closed

[2021-12-01 23:42] borisrorsvort commented on #122
@felipe-najson-ntf  What do you mean by: `That is, when the user enters the web analytics for the first time` ?

Not being tracked **by default** and **refuse cookies** prior to consent is a key component of gdpr, Segment cannot assume it’s something they can reject. Your explanation seems segment misunderstood gdpr requirements.
With the current implementation, even If you reject consent from the

[2021-12-02 09:54] borisrorsvort commented on #122
cc @nd4p90x

[2021-12-08 19:08] pooyaj commented on #122
@borisrorsvort I can add a bit more context. So the purpose of the `initialPreferences` prop is to determine the behavior of consent manager in the absence of user consent. If there are preferences in the cookies ( i.e., user consented already ), we prioritize the previous user consent, otherwise, we assume that the desired consent is what is set in the initial preferences. So on the original exam

[2021-12-08 19:16] nd4p90x commented on #190
Version 5.4.0 closes this issue, thank you

[2021-12-08 19:16] #190 closed

[2021-12-09 16:52] borisrorsvort commented on #122
@pooyaj initialPreference was used to set default state on checkboxes. But legally the real opt-in should happen on interaction. Hence it cannot be deducted from something else than cookies.

[2021-12-14 13:06] davidvenin commented on #190
Thank you for the release. Perfect for me.

[2021-12-20 05:30] kwent commented on #10
I think like a lot of people i copied the snippet present in https://github.com/segmentio/consent-manager/blob/master/README.md#example-in-nextjs. Really hard to see this is calling `analytics.load` if you do not scroll to the right. After removing that part. It's working as expected.

[2022-01-10 19:02] thomasboyt opened #198 "What does context.consent actually do?"
One of the things this library does is add a field to `track` calls indicating destinations that have been consented to. From the readme:

[code]

However, I can find no documentation of this `consent` field in Segment - it's not part of the [Common Fields](https://segment.com/docs/connections/spec/common/) or [Track](https://segment.com/docs/connections/spec/track/) docs.

I assume that, if a des

[2022-01-12 19:01] pooyaj commented on #198
@thomasboyt The `consent` object in the `context` doesn't have any impact on the delivery of the message (or any effect on how the payload is processed by Segment). It is just to add additional context to the event. The delivery is controlled via the `integrations` object in the payload.

[2022-01-14 14:29] pietvanzoen opened #199 "Consider removing All: false from default integrations config"
I've discovered a bug where segment will prevent events being sent to a destination in some circumstances when `All` is `false` and the destination uses an object configuration rather than a boolean.

I'm not 100% sure where the bug lives, perhaps analytics.js or perhaps in segment's backend. But considering that consent-manager explicitly sets `integrations` config for each integration `All: fals

[2022-01-24 17:26] stuart-clark-45 opened #202 "Add support for react 17"
[code]

[2022-01-25 10:59] JoaoPLGomes opened #203 "wd.analytics.addSourceMiddleware is not a function"
Currently trying to use ConsentManagerBuilder in a Next.js app but I got this error:

![image](https://user-images.githubusercontent.com/8902221/150963332-65416c51-0cfb-4052-8592-934b6bd98c09.png)

This is my _document file where I have the script:

![image](https://user-images.githubusercontent.com/8902221/150964029-b40a32ab-c391-42f5-b33f-ba4f97177e32.png)

This is where I have the ConsentManage

[2022-01-26 18:34] #198 closed

[2022-01-27 03:26] collinwu opened #204 "How to add a custom category to consent manager without overriding existing categories?"
I'm referencing Segment's article here about CCPA: https://segment.com/blog/segment-ccpa/

And in this image specifically, this is exactly what I'd like to reproduce, but given the documentation and trial and error behavior, I'm not entirely sure how this can be done without really digging into the library's source code and trying to understand it.

Essentially declaring a `customCategories` seems

[2022-02-02 17:26] pablolee89 opened #206 "Uncaught Error: attempted to add non-function middleware"
I'm getting this error in the browser console whenever analytics tries to load:

[code]

We are using the `ConsentManager` implementation from `@segment/consent-manager` v5.4.0

[code]

and here is our analytics.js file:

[code]

[2022-02-02 18:04] nd4p90x commented on #206
We are looking into your issue and will get back with you shortly.  Thank you

[2022-02-08 23:50] brettdewoody opened #207 "Cannot read properties of undefined (reading 'addSourceMiddleware')"
Using the latest Segment ConsentManager component in React 17.0.2.

After clicking allow on the consent manager I receive the following error in the console.

If I select Deny All, everything continues to work. But allowing cookies causes the error below.

[code]

I implement the ConsentManager with

[code]

[2022-02-09 17:34] tawe-segment commented on #204
This seems to be working by design. PR here to add usage note for the `customCategories` object:
https://github.com/segmentio/consent-manager/pull/208

[2022-02-11 07:48] #204 closed

[2022-02-15 18:56] alexhansonsmith commented on #207
@brettdewoody, we are experiencing the same issue. I have just seen this in the docs:

"Breaking Changes: Version 5.0.0 and above require that your analytics.js snippet include the method addSourceMiddleware in the analytics.methods array"

`analytics.methods = [
  'trackSubmit',
  'trackClick',
  'trackLink',
  'trackForm',
  'pageview',
  'identify',
  'reset',
  'group',
  'track',
  'ready',

[2022-02-16 11:14] brettdewoody commented on #207
@alexhansonsmith Thank you, that at least gives a direction. I'm using the `ConsentManager` component, and don't see an option to define the methods. Have you been able to solve this?

[2022-02-16 19:07] amedee-os opened #209 "Support event batching"
Hi,
Before using consent-manager, we used to enable analytic.js's [batching](https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/#batching) functionality by calling analytics.load() like this:

[code]

Now that ConsentManagerBuilder is calling `load` for us, it doesn't look like there is a way to inject this config, since`conditionallyLoadAnalytics()` doesn't support

[2022-02-22 12:32] trefasp opened #211 "Banner issue"
Hi :) I just started to implement the Consent Manager but looks like even if I saved the preferences the banner still appears and analytics is not loaded. Can you tell me, please, how can I fix it?
![image](https://user-images.githubusercontent.com/84713983/155133008-227eaeb5-bfbe-4e6c-9d15-e66d77790291.png)

[2022-03-02 18:14] brettdewoody commented on #207
@nd4p90x Are there any examples showing how to use the ConsentManager component - I'm still getting the error above even when trying to use the <script>.

[2022-03-11 10:43] s-huh opened #215 "ReDoS vulnerability in ansi-regex dependency"
Hi,

Snyk is flagging a Regular Expression Denial of Service (ReDoS) vulnerability introduced via the following path:
`@segment/consent-manager@5.4.0 › @segment/in-regions@1.2.2 › @types/jest@24.9.1 › jest-diff@24.9.0 › pretty-format@24.9.0 › ansi-regex@4.1.0`

This vulnerability is resolved in `ansi-regex@6.0.1, @5.0.1`. Would you be able to update dependencies to resolve this issue?

Thanks

[2022-03-23 17:15] nd4p90x commented on #189
@andreasmcdermott if this is still an issue for you, please feel free to re-open.  Thank you

[2022-03-23 17:15] #189 closed

[2022-03-25 12:07] pedrocarloto commented on #193
This feature would be very useful.
In our implementation we would like to share the methods to call segment in the frotend and in our firebase functions. Due to this restriction we need to have the snippet on the frontend and then the @segment/analytics-next on the backend(functions) to also use it there.

[2022-03-29 16:16] Dezzymei commented on #135
I have created a PR for this: https://github.com/segmentio/consent-manager/pull/216

[2022-03-30 04:10] emont01 commented on #215
Hi @s-huh, I have checked this module using `yarn why` and it is a common indirect dependency with several versions in use, namely: 2.1.1, 3.0.0, 4.1.0 and 5.0.1.

IMHO this will be a difficult one to resolve due to the number of indirect dependencies.

[code]

[2022-03-30 04:17] emont01 commented on #209
@amedee-os please do submit your PR

[2022-03-30 04:27] emont01 commented on #202
@stuart-clark-45 I understand react 17 introduced a number of [breaking changes](https://reactjs.org/blog/2020/08/10/react-v17-rc.html#other-breaking-changes), is everything working correctly after you changed peerDependencies?

[2022-03-30 04:32] emont01 commented on #199
@pietvanzoen can you describe the issue in detail? Why do you think that changing that setting will resolve the problem?

[2022-03-30 04:38] emont01 commented on #195
hi @kwent please add more details... what do you mean by "consent by scrolling"?
I sounds to me like you are referring to the user scrolling down

[2022-03-30 04:39] emont01 commented on #207
this seems related to issue #202

[2022-03-30 10:25] stuart-clark-45 commented on #202
@emont01 I believe everything is working fine for us 👍

[2022-04-06 21:30] daniel-liu-bitio opened #217 "Security vulnerability: update isomorphic-fetch to latest"
Isomorphic-fetch 2.2.1 (the version currently being used) has a security vulnerability since it depends on an unsafe version of node-fetch. Running ```npm i @segment/consent-manager``` followed by ```npm audit``` gives:
[code]

This is fixed in subsequent versions of isomorphic-fetch (see https://github.com/matthew-andrews/isomorphic-fetch/pull/189). Would it be possible to bump up the version of

[2022-04-08 13:19] ferrero1987 opened #218 "Gatsby not show banner"
Hi,
When using gatsby, the blue banner doesn’t show up
![Schermata 2022-04-08 alle 15 17 27](https://user-images.githubusercontent.com/83806203/162443759-7e4d0dff-5c1c-4e2c-a3ab-62d2fe173b3a.png)

The code is here: https://codesandbox.io/s/kmvzm?file=/src/components/layout.js:2212-2613

[2022-04-12 13:36] maurocanuto commented on #218
+1

[2022-04-20 17:51] #217 closed

[2022-04-20 18:30] NeversSync opened #221 "Add css and content customization options"
There is css being applied by default to the various elements in the `ConsentManager`, and no option to override or disable that styling. I'm referencing font-size, font-family, display: flex; rules, etc. I imagine this is also true for the `ConsentManagerBuilder`.

It would be hugely helpful to add a prop to `ConsentManager` such as `disableDefaultStyles` which would disable all css.

It would al

[2022-04-24 23:45] emont01 commented on #206
@pablolee89 I had a similar situation because I have provided a value instead of a function for one of the properties of `<ConsentManager />`

Here is an example with the incorrect definition for shouldRequireConsent
[code]

After changing the code above as follows everything worked as expected
[code]

[2022-04-25 19:15] edsonjab commented on #218
Hi @ferrero1987 @maurocanuto,
We still work on that issue but for the moment you can add the attribute "otherWriteKeys" that would help to show the banner

![gatsbyError](https://user-images.githubusercontent.com/22898327/165154742-9344c103-a5a7-40d3-a034-17e2aad84e07.png)

[2022-04-26 09:35] maurocanuto commented on #218
@edsonjab thanks for the help. What is the value to use for the `otherWriteKeys`? Is that another `Write Key` that we need to generate or the `Source ID`?

[2022-04-27 18:15] nd4p90x commented on #218
@maurocanuto This is a secondary write key for another segment instance.  We found an issue where if this field is missing, the banner doesn't display properly with Gatsby.  We are currently working on a solution and will update the issue soon.

[2022-05-04 10:56] maurocanuto commented on #218
@edsonjab Thanks! By adding a destination seems to be working now!

[2022-05-04 17:05] #218 closed

[2022-05-06 12:52] webgurus opened #224 "Tracking Preferences cookie set although did not allow it."
When loading a website with the consent banner, I'm getting the tracking-preferences cookie set in the browser although I have never accepted the consent. When I refresh the banner doesn't show because it sees the tracking-preferences cookie set.

**Steps to recreate:**

1. Go to this website
https://glorify-app.com
2. Notice that you have the consent banner at the bottom.
3. Don't click anything

[2022-05-10 08:00] helloanil commented on #196
Hey @davichetebadger, this issue is happening for me when I implement the Consent Manager on our Webflow page. Did you manage to solve the issue before closing? If so, can I kindly ask you how?

[2022-05-13 12:49] trefasp opened #225 "Dynamic integrations list"
I am using the Consent Manager component where I need to pass custom categories as a prop. Is it a way to avoid writing that integrations of strings list in as a free text and to pass there directly what I receive as a response from getting integrations list request?
  const customCategories = {
    'Performance and Analytics': {
      **integrations: ['Google Analytics','Amplitude''],**
    },

[2022-05-16 23:53] edsonjab commented on #225
Hi @trefasp I suggest that you use a Global variable with that values, because that value is optional for Consent Manager and Consent Manager only handle the values when you specify that property

[2022-05-18 12:53] webgurus commented on #224
Hello @edsonjab see the code below:

`<script type="text/javascript">
    window.consentManagerConfig = function(exports) {
        exports.preferences.onPreferencesSaved(function(prefs) {
            // could be used to store consent server side, or send it into an API
        })
        const consent_banner_text = '{{ get_field('consent_banner_text','option') }}';
        const consent_banner_su

[2022-05-18 13:31] lapa182 opened #226 "FullStory not loading when using Consent Manager"
Hello! We are currently having an issue where FullStory it's not getting loaded by the consent-manager plugin. If we load Segment without the consent FullStory loads, but as soon we enable the plugin it doesn't work.

[2022-05-18 15:00] lapa182 commented on #226
I did some digging and seems the issue it's around https://github.com/segmentio/consent-manager/blame/877e4d8481021675be5bd6748c8253117931b439/src/consent-manager-builder/fetch-destinations.ts#L23 where  name is`Fullstory (actions)` but creationName is `FullStory` and when using that as `id` it doesn't work.

If I update creationName to `Fullstory (actions)`, FullStory is loaded successfully.

[2022-05-19 13:58] trefasp commented on #225
Sorry, but is not clear for me. I need to define a custom category and there to pass via integrations list props the response that comes from fetch destination list.  It's true that I can let by default marketingAndAnalytics category, but there I need a custom description and a custom name

[2022-05-19 14:54] trefasp commented on #225
Or maybe is it a way to use just a part of by default categories, for example to use just essential and marketing, not advertising and not functional

[2022-05-23 15:51] nd4p90x commented on #195
@kwent if you feel this is still an issue, please feel free to re-open or start a new thread.  Thanks!

[2022-05-23 15:51] #195 closed

[2022-05-23 15:55] nd4p90x commented on #199
@pietvanzoen we would be happy to work with you on this issue if you decide it is still applicable, feel free to re-open or start a new thread.  Thank you.

[2022-05-23 15:55] #199 closed

[2022-05-23 15:55] #202 closed

[2022-05-23 15:57] nd4p90x commented on #206
@pablolee89 If this continues to be an issue, feel free to re-open or start a new thread.  Thank you.

[2022-05-23 15:57] #206 closed

[2022-05-23 18:00] nd4p90x commented on #207
Please feel free to re-open or start a new thread if necessary, thank you!

[2022-05-23 18:12] nd4p90x commented on #209
@amedee-os please feel free to submit a PR for this issue as you have stated.  I will re-open attach this issue once that has been completed.  Thank you!

[2022-05-23 18:12] #209 closed

[2022-05-23 18:14] nd4p90x commented on #215
@s-huh if you feel this continues to be an issue for you and the LIB, please feel free to re-open or begin a new thread.  Thank you

[2022-05-23 18:14] #215 closed

[2022-05-24 14:29] #226 closed

[2022-05-24 21:49] edsonjab commented on #225
Hi @trefasp  I'm sorry, now I understand, the only way to define your own categories is using the property customCategories, if you will use the integrations list like categories, I suggest that you get that list before that you will render the ConsentManager component to build the customCategories property and to pass that property in the component.

[2022-05-26 08:07] lapa182 opened #229 "When will the pull requests be published on npm?"
Hello! I saw a few pull requests (including mine) merged, but I can't see the newest version on NPM? Is there another way for us to consume the latest versions on NPM?

[2022-05-26 12:58] brettdewoody commented on #229
You can install direct from Github to get the latest version.

`npm install segmentio/consent-manager#master`

[2022-05-26 21:00] brettdewoody opened #230 "Supporting React v17 as a peer dependency"
I appreciate all the recent updates! We had looked at using the Segment Consent Manager previously but it was incompatible with other deps we had, like React v17.

I see now the peer deps have been updated to React v18, and entirely skipped v17. Does it specifically need React v18, or could we add React v17 as a peer dep option?

[2022-05-27 22:59] damassi opened #231 "Create separate production build for consent-manager-builder?"
Right now we're using the builder so that we can provide our own UI; however, looking at our bundle it appears as though `emotion` and so on is being included unnecessarily. It would be nice if we could import the builder directly and skip all of the other dependencies.

Something like this:

[code]

Thoughts? Happy to contribute a PR if this ask is reasonable.

[2022-05-31 15:14] edsonjab commented on #231
Hi @damassi  sure, you can make the PR and we can check your solution

[2022-05-31 15:33] damassi commented on #231
Cool, will do 👍

[2022-05-31 21:40] damassi commented on #231
Actually, digging deeper, this is already setup correctly!

[code]

Going to close. Thanks for the very useful library.

[2022-05-31 21:40] #231 closed

[2022-05-31 22:28] edsonjab commented on #230
HI @brettdewoody, do you need use the React 17 for a specific functionality?

we upgrade to v18 because is recently and has many the improvements on the framework

[2022-06-01 05:36] brettdewoody commented on #230
Updating to React 18 is possible, but I believe it will require us to update additional deps.

[2022-06-02 11:58] thekip opened #233 "Lodash Dependency issue"
src/consent-manager-builder/fetch-destinations.ts
[code]

package.json
[code]

Result:

`lodash-es` doesn't provide all this subpackages, and it doesn't depend on original lodash either, so it works in some cases only because one of transient dependencies also depend on regular lodash.

lodash-es/package.json
[code]

[2022-06-08 17:48] #233 closed

[2022-06-13 15:14] #224 closed

[2022-06-13 15:14] #229 closed

[2022-06-13 22:50] nd4p90x commented on #230
There is a new branch that supports react v17.  We have yet to make and official release with this branch, but feel free to source from the new branch for your project.
https://github.com/segmentio/consent-manager/tree/react_v17

[2022-06-13 22:50] #230 closed

[2022-06-14 08:50] lapa182 commented on #229
@nd4p90x I can see the pull request was merged (🎉) but it's still not in NPM? 🤔

[2022-06-14 16:42] nd4p90x commented on #229
@lapa182 the request for NPM has been sent, hopefully it is completed today or tomorrow.  Thanks

[2022-06-14 21:45] nd4p90x commented on #229
@lapa182 @thekip @brettdewoody Sorry for the delay https://www.npmjs.com/package/@segment/consent-manager

[2022-06-15 16:15] lapa182 opened #236 "Cannot find module '@emotion/core' from 'node_modules/@segment/consent-manager/commonjs/consent-manager/dialog.js'"
Hi! We updated to the latest version in NPM and now we are getting this build error:

[code]

We tried installing @emotion/core but them another error appears:

[code]

[2022-06-15 17:30] nd4p90x commented on #236
@edsonjab can you confirm?

[2022-06-15 17:50] nd4p90x commented on #225
@trefasp Feel free to re-open if necessary.  Thank you

[2022-06-15 17:50] #225 closed

[2022-06-21 07:01] BodySplash opened #238 "Lodash loading issue"
Hi there,

If I bump consent manager to version 5.5.0, then my nextjs app (v 12.1.5) fails to compile:
[code]

I guess this is related to #234 but I must admit I'm not sure to understand why.

[2022-06-22 17:45] #236 closed

[2022-06-23 09:44] Kudder1 commented on #238
Same for me, although I'm using

- consent manager 5.4.0
- nextjs 12.1.0

[2022-06-23 18:02] mahowa commented on #238
is there a planned fix for this? what version was working before this update?

[2022-06-23 18:05] nd4p90x commented on #238
The status under projects shows in progress.  We are currently working on a PR for this issue.  Thank you.

[2022-06-24 05:01] arijit-tweb opened #239 "how to use "openConsentManager()" method on standalone script?"
currently i'm getting consentManager: undefined in window object on my chrome browser.

consentManagerConfig: ƒ (exports)
length: 1
name: ""
prototype: {constructor: ƒ}
arguments: (...)
caller: (...)
[[FunctionLocation]]: index.js:418
[[Prototype]]: ƒ ()
[[Scopes]]: Scopes[4]

[2022-06-29 23:05] michaelgutierrez0 opened #240 "Can We Enable For All Regions?"
Hi,
My company would like to use this consent manager but we would like to use it for all users. Even if they are not in the EU we would like to ask for consent. Do you know how this can be achieved? I see this package:
https://github.com/segmentio/in-eu
Is used to discover if they are in the EU. Could we overwrite this to always return true?

Thank you for any help!

[2022-07-01 20:24] mfrazie2 opened #243 "How to overwrite `analytics.identify` call properties in `savePreferences`"
How can I set the `context` with an IP address at this [call site](https://github.com/segmentio/consent-manager/blob/370a4b97116d75fbe71692d4e26d70d00222231f/src/consent-manager-builder/preferences.ts#L59)? When loading the Analytics library I currently use `analytics.page(null, null, {}, {context: {ip: '0.0.0.0'}});` to prevent IP address from being recorded. Is there a similar means to do this i

[2022-07-05 22:42] michaelgutierrez0 commented on #240
I was able to do this with:
shouldRequireConsent={() => true}

[2022-07-05 22:42] #240 closed

[2022-07-05 23:12] nd4p90x commented on #240
@michaelgutierrez0 apologies for not getting back to you sooner.
Were you able to find that in the documentation, or is that something we need to be more clear about?
Glad you figured that out.  Let us know if you have any other issues.

[2022-07-06 15:40] DonGiulio opened #245 "loading the banner as modal with actions block, only allow button is there, no deny"
I'm loading the banner with:

[code]

in the modal(banner) I can see the allow all button, the X that closes the modal, but there's no Deny all button,

if I change to:

[code]

in the banner I see both allow and deny (but I need it to be a modal).

[2022-07-07 10:43] lifeforced opened #246 "New release planned?"
I noticed the last release on npmjs was from 2018? Is there a new version somewhere else we're supposed to be using today?

[2022-07-08 10:14] mischasigtermans opened #247 "Set destinationPreferences with standalone script"
Hi there,

I want to disable a specific destination for our marketing website where we use the consent manager. We use the same write key on our app, with the same destinations, but without the consent manager (since the user is logged in and gave consent already with their sign up).

How can I set the `destinationPreferences` with the standalone script, like you can with the analytics.js script?

[2022-07-08 21:21] edsonjab commented on #247
Hi @mischasigtermans  you can use the "mapCustomPrefrence", you can see the documentation [here](https://github.com/segmentio/consent-manager#mapcustompreferences).

[2022-07-11 16:30] jeffnappi commented on #246
Last release was [3 days ago](https://www.npmjs.com/package/@segment/consent-manager/v/5.6.0), however it seems they have not been tagging the releases in the git repo.

[2022-07-11 16:30] mahowa commented on #238
I am still seeing this issue in the newest release. I also dont actually see any code changes in the PR linked here?

[2022-07-11 17:17] nd4p90x commented on #246
@lifeforced https://www.npmjs.com/package/@segment/consent-manager/v/5.6.0
@jeffnappi git repo release version updated

thank you

[2022-07-11 17:17] #246 closed

[2022-07-12 15:08] edsonjab commented on #238
@mahowa are you still use nextjs 11.1.2?

[2022-07-12 15:41] edsonjab commented on #247
@mischasigtermans you can check the (storybook)[https://segmentio.github.io/consent-manager/] with the examples how to use the different escenarios

(standalone)[https://segmentio.github.io/consent-manager/index.html?path=/story/standalone-javascript--with-customization]

[2022-07-13 05:05] alexbchr commented on #238
I have the exact same issue on 5.6.0... Using Next.js version 12.2.2

[2022-07-13 19:32] edsonjab commented on #238
Hi all, looks like is a problem with nextjs and lodash-es

https://github.com/vercel/next.js/issues/9607

I'm still work on found a solution because with other frameworks consent-manager works

[2022-07-18 04:55] arijit-tweb commented on #238
is previous versions really have this issue? did you try it?

[2022-07-19 10:03] arijit-tweb opened #249 ""initialPreference" is not working on standalone script"
I added this on my standalone script
`initialPreferences: {
          Functional: true,
          Marketing_and_Analytics: true,
        },`

Also after added "initialPreferences" , **I'm unable to close the banner any more**

![Screenshot (142)](https://user-images.githubusercontent.com/103941380/179724549-5640b56b-7d97-4a39-a781-cf8d0f887339.png)

[2022-07-19 10:57] arijit-tweb commented on #239
How to solve this? can you pls tell

[2022-07-19 10:57] arijit-tweb commented on #239
How to solve this? can you pls tell

[2022-07-19 16:20] Yeboster opened #250 "Change translations of ActionsBlock buttons in standalone version"
Hello,
First of all, thanks for this great project!

We are using the standalone version with multiple languages. Most translations are set up in the `preferencesDialogTemplate` object, but I couldn't find a way to change the `ActionsBlock` buttons translations (so `Allow all` and `Deny all`).
Is it possible to do it in the standalone version without having to use `ConsentManagerBuilder`?

Thanks

[2022-07-20 17:56] #245 closed

[2022-07-21 06:59] arijit-tweb commented on #249
Now I found some other solution to this, thanks

[2022-07-21 07:53] Yeboster commented on #250
Hello @edsonjab ,
thanks for the solution, this is the way to do it! Thanks!

[2022-07-21 07:53] #250 closed

[2022-07-21 16:31] #249 closed

[2022-07-21 17:54] Emmajperrez opened #252 "Prevent identify() call"
Hi there,

Is there a way to prevent the `identify()` call to be triggered?

The issue is that this call is not compliant with the majority of Segment destinations which require you to only use Identify() for logged in users (Mixpanel, Customer.io , etc...).

Thanks,

[2022-07-21 21:32] Emmajperrez opened #253 "Excluding destinations from consent manager"
Hi there,

I'm trying to have some destinations still be used whatever the answer is for the consent manager.

What the best way to do this?

For context, this destinations are in cloud mode so they don't use cookies on the website. Yet they still need the analytics.page() event I'm triggering on the front-end.

Thanks!

[2022-07-21 21:34] Emmajperrez commented on #252
Figured out a workaround using sourceMiddleware:

`var sourceMiddleware1 = function({ payload, next, integrations }) {
      if (payload.obj.type === "identify") {
	if ("traits" in payload.obj) {
            if ("customTrackingPreferences" in payload.obj["traits"]) {
            	return;
            }
        };
      }
      next(payload);
    };

  analytics.addSourceMiddleware(sourceMiddleware1

[2022-07-22 17:14] #252 closed

[2022-07-22 18:39] edsonjab commented on #253
Hi @Emmajperrez, could you explain more about your problem, please?

[2022-08-03 17:59] #247 closed

[2022-08-03 18:01] pooyaj commented on #243
@mfrazie2 would using a source middleware ( https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/middleware/ ) solve this issue?

[2022-08-03 18:06] pooyaj commented on #203
This is probably due to an outdated Segment Snippet. Feel free to re-open if still seeing the issue after using latest snippet

[2022-08-03 18:06] #203 closed

[2022-08-09 14:09] olabogen opened #254 "ConsentManagerBuilder prevents headers from rendering"
We have a up-to-date Gatsby project where we have added ConsentManagerBuilder in a provider component which is wrapping the app in wrapRootElement in both gatsby-ssr.js and gatsby-browser.js.

Any attempt to render seo meta tags proves impossible as long as it is there.

When we use helmet with the accompanying gatsby plugin or the new Head component export and build the project, they are simply r

[2022-08-10 13:03] #254 closed

[2022-08-10 20:43] edsonjab commented on #238
Hi, we still work on how to solve this issue, but looks like is an with NextJS
[Here](https://www.freecodecamp.org/news/how-to-bypass-es-modules-error-in-next-js/) is an article with some explanation about that.

[2022-08-12 06:26] Nightapes commented on #193
Are there any news? When will it be possible to use it with `@segment/analytics-next`?
We already using the new library as written in your documentation.

Also the old `analytics.js` is soon out of support.

https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/upgrade-to-ajs2/

[2022-08-12 21:35] edsonjab commented on #239
@arijit-tweb you need add that script on your project, with that line recognize the consentManager into window object.

[2022-08-17 17:45] #243 closed

[2022-08-17 17:46] #253 closed

[2022-08-17 17:49] #238 closed

[2022-08-22 12:57] BodySplash commented on #238
I've dig a little bit.
It's not entirely a next issue. Indeed, the commonjs version of consent-manager is not valid, as it requires an es only module (lodash-es).
I would be happy to find a way to tell next to use the esm version, but in the mean time, that doesn't address the fact that the cjs version shouldn't require lodash-es

[2022-08-24 14:30] b2kdaman opened #255 "Cannot read properties of undefined (reading 'initialized')"
I tried to implement ConsentManager component for React using the example and receive this error
[code]

[2022-08-24 14:32] b2kdaman commented on #255
Here you can see the same result:
https://codesandbox.io/s/1r21mjn8o3

[2022-08-24 16:07] edsonjab commented on #255
Hi @b2kdaman  that happens when the app did not have the script on header HTML

you can check this example on NextJS

https://github.com/segmentio/consent-manager#example-in-nextjs

like the section <script>

[2022-08-31 17:19] seanlail opened #256 "implyConsentOnInteraction causes reload when clicking inside banner"
When a user clicks on the SubContent ("Preferences" text) the page reloads.
It seems to be because of the `implyConsentOnInteraction` setting... but [according to the docs](https://github.com/segmentio/consent-manager#implyconsentoninteraction) it should not imply consent when clicking inside the banner.

Example config:
[code]

[2022-09-01 16:49] seanlail opened #257 "Missing param for loadPreferences type"
This: https://github.com/segmentio/consent-manager/blob/0969cc9effc3be37031c734ced5f9ca3c1b57a7b/src/consent-manager-builder/preferences.ts#L11

Does not match this: https://github.com/segmentio/consent-manager/blob/0969cc9effc3be37031c734ced5f9ca3c1b57a7b/src/consent-manager-builder/preferences.ts#L18

[2022-09-01 20:30] edsonjab commented on #257
Hi @seanlail  thanks for your report, we start looking into this

[2022-09-01 20:30] edsonjab commented on #256
Hi @seanlail  thanks for your report, we start looking into this

[2022-09-03 00:23] edsonjab commented on #256
Hi @seanlail we was checking your report and we can't replicate the issue, I created a project with your configuration of ConsentManager and works like expected, could you share a sandbox or your framework that you used or your project configuration to replicate exactly like you the issue please.

[2022-09-05 12:52] seanlail opened #259 "Standalone CM does not set cookie correctly when calling acceptAll"
I set the CM to _not_ track by default, but create a custom "Allow" button that calls the internal "acceptAll" function.

**Expected** outcome:
Cookie to be set with all keys accepted

**Actual** outcome:
All declined.

[code]

[2022-09-05 13:51] blackbeak opened #260 "Page Constantly Reloads using Gatsby and Consent manager"
https://github.com/segmentio/consent-manager/issues/10

The above issue sounds very similar to what happens when I add the consent manager to my Gatsby layout page. Just a constant refresh after loading the page. After reading through the thread I couldn't work out a way to de-bug this.

I am using the Gatsby/Segment plugin which injects the code into the header of each page (where Analytics.js is

[2022-09-05 14:35] seanlail commented on #256
@edsonjab Here's a repo to show the issue: https://github.com/seanlail/segment-cm-issue-256

Create `.env.local` and set the `NEXT_PUBLIC_SEGMENT_APIKEY=<a valid key>` to run it.

[2022-09-05 14:56] seanlail commented on #259
@edsonjab Here's a repo to show the issue: https://github.com/seanlail/segment-cm-issue-259

Create `.env.local` and set the `NEXT_PUBLIC_SEGMENT_APIKEY=<a valid key>` to run it.

[2022-09-05 14:59] edsonjab commented on #260
Hi @blackbeak  thanks for your report, we start looking into this

[2022-09-05 16:38] seanlail commented on #193
I don't understand - can we not [use](https://github.com/segmentio/analytics-next#for-snippet-users-only-how-to-add-typescript-support) this?

There is documentation that says V2 is backwards compatible with V1... but then this Consent Manager doesn't work so it's not backwards compatible.

Can someone explain what is missing / change and what is needed to support V2?
Perhaps the community can hel

[2022-09-06 09:27] seanlail commented on #259
@edsonjab I think this is where the bug is: https://github.com/segmentio/consent-manager/blob/a4633dfe3d9f6e6fb64816245b3e768e56b6d9bb/src/consent-manager/container.tsx#L96
This assumes that the initial preferences are all "enabled" / "true".

[2022-09-06 09:33] seanlail commented on #259
My workaround is to call `preferences.savePreferences` manually and then reload the page.
I don't know all the destinations dynamically though.

[2022-09-06 14:32] gat-developer commented on #238
This also affects the jest tests. Jest doesn't transpile node_modules by default. After bumping the newest version of `consent-manager` `jest` complains that it cannot parse lodash es file included by `consent-manager`

[code]

There is of course a workaround (tell jest to transpile `lodash-es`), but I don't want jest to transpile lodash (which is not so small) for tests (that affects the tests ex

[2022-09-06 14:59] edsonjab commented on #259
@seanlail I will make some test for initialPreferences, like you say maybe there is the bug

[2022-09-06 16:04] pooyaj commented on #193
@seanlail consent manager is only incompatible when using AJS 2.0 as an npm package. If using V2, but also using Segment Snippet to load AJS, consent manager still works as expected.

[2022-09-07 07:38] blackbeak commented on #260
Thanks. Any pointers in the right direction would be great.

[2022-09-08 14:05] davidbbe opened #262 "Add option to skip/disable analytics.load"
Previous to using the consent-manager I was able to optionally bypass analytics.load with a conditional in the Segment snippet. This is useful when testing development environments and when running end to end tests. The consent-manager took over when analytics.load is used and now my only option to disable the analytics.load is to use `shouldRequireConsent=true` for all dev and testing environment

[2022-09-08 14:25] edsonjab commented on #256
Hi @seanlail I saw your repo and I put this validation on your code and works for me, could you try this please?
![image](https://user-images.githubusercontent.com/22898327/189147946-dcf448b0-61c6-4d4d-b581-c70c4f1bd2e3.png)

[2022-09-08 16:45] seanlail commented on #256
Hi @edsonjab, even with that change I get the same issue. When I click on `Preferences` I see the dialog flash before the page reloads.

https://user-images.githubusercontent.com/142589/189179273-067167a8-9150-44f7-82b3-44e506a458db.mov

[2022-09-08 17:38] busticated commented on #262
2nd'ing this request. it'd be helpful to be able to prevent loading the analytics.js script even if the user has granted consent under certain circumstances (testing, local development, etc). it's worth noting that the `segment/snippet` package exposes the control ([docs](https://github.com/segmentio/snippet#snippetmaxoptions) | [code](https://github.com/segmentio/snippet/blob/8879ab5203083fc69892

[2022-09-09 14:41] edsonjab commented on #256
hi @seanlail  I already  identify in which moment trigger the reload, I'm working on the solution

[2022-09-09 15:55] edsonjab commented on #262
Hi @davidbbe and @busticated we start looking into your suggestion

[2022-09-12 20:09] joelpierre opened #263 "'ERR_REQUIRE_ESM' for lodash ES"
### Current Stack
- Node env: 16.15.1
- NextJS ver: 12.2.2
- Consent Manager: 5.6.0

Package simply doesn't work get the following error:
[code]

The only way I got something working was setting my resolutions to `4.17.15` which is a known version to not throw this error. And even then the consent manager package failed in other places.

Does the package need lodash at all? Also the latest version

[2022-09-12 20:14] joelpierre opened #264 "Compatibility issues with segment snippet package"
### "@segment/consent-manager" + "@segment/snippet"

### Current Stack
Node env: 16.15.1
NextJS ver: 12.2.2
Consent Manager: 5.6.0

Trying to use this package in a nextJS app with one of your other packages "@segment/snippet" and they are simply fighting each other. Considering for the most part the "internet" requires consent of some form these days why doesn't Segment/snippet allow for an opt in

[2022-09-12 21:26] joelpierre opened #265 "ConsentManagerProps not correct"
`ConsentManagerProps` declares that `bannerSubContent?: string;` however your docs in the README.md says `PropTypes.node` inline with `bannerContent` which in your types is correctly `React.ReactNode`

[2022-09-12 22:47] joelpierre opened #266 "closeBehavior enum not exported properly"
![Screenshot 2022-09-12 at 23 44 29](https://user-images.githubusercontent.com/8969851/189771284-e3124971-9b69-48a3-bc56-05f26372832b.png)

Can't use the enum that is apparently exported 😅 and when I try to pass the prop it fails

![Screenshot 2022-09-12 at 23 46 49](https://user-images.githubusercontent.com/8969851/189771508-d4d663f4-5be8-4392-b656-6af77fc337d6.png)

[2022-09-13 11:14] joelpierre opened #267 "Invalid markup for "preferenceDialogForm""
You can't have two ids with the same value on the screen `preferenceDialogForm`. I would suggest prefixing this with "what" it is

![Screenshot 2022-09-13 at 12 12 12](https://user-images.githubusercontent.com/8969851/189887089-d1dc4a51-d964-4ad1-bcc1-bd8dd96d98f5.png)

- `preferenceDialogForm-preferenceCenter`
- `preferenceDialogForm-cancelDialog`

or just naming them their own thing entirely...

[2022-09-13 22:41] edsonjab commented on #263
Hi @joelpierre we updated to lodash-es because lodash has vulnerabilities, but we still working on a solution to change the library or how to solve that error.

[2022-09-13 22:48] joelpierre commented on #263
Thanks. Tbh in most cases you don't need lodash I haven't looked at your specific use cases of using it but if anything you can just import the specific functions you need using the "lodash.{functionName}" packages

[2022-09-13 23:38] edsonjab commented on #266
Hi @joelpierre the correct path for CloseBehavior is
`@segment/consent-manager/container`

you can check out storybook [here](https://segmentio.github.io/consent-manager/index.html?path=/story/react-component-onclose-interactions--accept)

[2022-09-14 13:16] mattkoch-bb commented on #263
Hey @joelpierre , How did you end up solving? We just ran into this when trying the NextJS example.

[2022-09-14 15:30] joelpierre commented on #263
Hey @mattkoch-bb , I created a separate component to wrap the consent manager (and anything from the segment/consent-manager package) and I then use NextJS dynamic imports with `ssr: false`. More info here: https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

This is the only way to ensure it loads without breaking your entire build... 😅 and make sure to only ever dynamically impo

[2022-09-14 15:50] mattkoch-bb commented on #263
I'd love to see a basic example!  Here's what we are trying...(Typescript)

[code]

[2022-09-14 18:37] joelpierre commented on #263
@mattkoch-bb we use TS too. I would just ensure you dynamically import the whole wrapper component anywhere you use it to avoid all the crazy async dynamic imports and bundle it as one chunk.

- Separate out the script from the consent manager
- You don't need main tags around it
- Make the "button" at the bottom a separate component so you can put it somewhere else like in your footer

[code]

[c

[2022-09-14 19:58] mattkoch-bb commented on #263
@joelpierre Thanks! I am assuming in the code above you're doing something similar to my snippet where I'm using `next/dynamic` to import? I just don't see that anywhere in your code.

[2022-09-14 20:33] mattkoch-bb commented on #266
If I try to import this enum, I get the following...

<img width="1013" alt="image" src="https://user-images.githubusercontent.com/106617936/190256797-da61e7fb-889e-4a39-ac84-ed7f888c9a1d.png">

[2022-09-14 20:37] joelpierre commented on #266
Yep same @mattkoch-bb, it isn't exported from that location @edsonjab . I think the issue is when you build for production the type definitions are in a completely different location so TS gets a bit confused, typically they would be exported from the "same" path just the build/dist folder instead.

[2022-09-14 20:38] mattkoch-bb commented on #266
@joelpierre How'd you get around it? :-D

[2022-09-14 20:40] joelpierre commented on #266
The dreaded `"..." as any`

[2022-09-14 20:42] mattkoch-bb commented on #266
In your import statement somewhere?

[2022-09-14 20:45] joelpierre commented on #266
[code]

[2022-09-15 15:07] mattkoch-bb commented on #263
@joelpierre What does the `SegmentPreferenceButton` component look like? I am having issues trying to import the function required to actually trigger the consent manager  (e.g. `openConsentManager`)

[2022-09-15 15:55] joelpierre commented on #263
As long as you dynamically client side only render the component that uses `openConsentManager` you should have no issues @mattkoch-bb . What does your code look like?

[2022-09-16 00:42] mattkoch-bb commented on #263
@joelpierre I just can't seem to get this to function properly. We currently have a `_document.tsx` (https://nextjs.org/docs/advanced-features/custom-document) file  in our Next app where we are doing our analytics script loading.

[code]

We removed the `analytics.load()` line from the `<Script />` tag as indicated by the README here (https://github.com/segmentio/consent-manager#usage). Since thi

[2022-09-16 17:32] joelpierre commented on #263
Why do you need to do all that casting>? `dynamic` is a generic so takes a type arg. If you export default then it actual infers the type too.

[code]

also I wouldn't load the script for Segment in the doucment.tsx that is server side rendered and simply isn't required there.

I would also use the plugin @segment/snippet and let that handle your loading etc, making sure its run outside of the Doc

[2022-09-16 19:39] vjsingh commented on #196
@helloanil @davichetebadger I'm also running into this on Webflow, any ideas or solutions?

[2022-09-16 23:13] mattkoch-bb commented on #263
Thanks! At this point I still don't think this is loading analytics properly for me, but it's beyond the scope of this actual issue, so I'll stop commenting for the time being. Thanks for the help!

[2022-09-20 17:17] atul-jalan opened #270 "Failed to parse source map"
I get the following console warnings after installing the consent manager package. Have tried a variety of different fixes to no avail. Is this a known issue/am I doing something wrong here?

![Screen Shot 2022-09-20 at 12 15 30 PM](https://user-images.githubusercontent.com/54699627/191322466-edeed990-4952-4374-84cc-577be7fdc4e5.png)

I'm using version `5.6.0` of the consent manager and am on vers

[2022-09-21 01:40] edsonjab commented on #270
HI @atul-jalan, could you share us more information about your project configuration please?

[2022-09-21 10:45] FloHiwg commented on #260
Hi @blackbeak,

 I implemented it yesterday on our side. I had trouble since I didn't remove the `analytics.load()` from the snippet.
 I set up my own component including the Consent Manager component and the Script component from Gatsby with the Snippet. I had no chance to implement it with one of the few Gatsby plugins.

 I can provide you with a version of this component if this helps.

[2022-09-21 10:49] blackbeak commented on #260
That would be great. I still don't have a working solution as the sites I'm working aren't live yet so I am coming back to this later, but it would be great to see if I could add it to my deployment.

[2022-09-22 22:00] chrisradek commented on #270
@atul-jalan Thanks for reporting this issue. It looks like the issue is that we aren't publishing the source files that the source-maps point to. Easiest solution for us would be to include `src` in the package.json `files` list.

[2022-09-22 22:17] chrisradek commented on #264
@joelpierre Thanks for opening this issue. Are you setting the `load` field in `@segment/snippet` to false to disable automatically loading analytics.js?

The consent manager needs to be the one to call `load` so that it can tell analytics which destinations to enable/disable, but that's why there's a setting on snippet to exclude the `load()` call from the snippet itself.

[2022-09-23 14:14] joelpierre commented on #264
We feature flag our services but yes we only load if the consent manager isn't enabled, satisfying the consent managers requirement to be the thing that manages this process.

I do have it working now but it would be great if these options were a bit more intuitive for people working with both packages. e.g the plugin handling this under the hood if you are using the consent manager.

[2022-09-23 15:55] atul-jalan commented on #270
@chrisradek Amazing! Glad it's figured out -- and so quickly too. @edsonjab did you still need more information on my project configuration.

Any idea about when this might get fixed?

[2022-09-23 17:13] chrisradek commented on #270
@edsonjab Here's a reproduction using a project built with `create-react-app`: https://github.com/chrisradek/consent-manager-test

You can clone that, then just run:
- `npm install`
- `npm start`

You'll see the sourcemap warnings appear in the console.

[2022-09-23 17:19] atul-jalan commented on #270
@chrisradek Thanks for creating that copy.

@edsonjab Our setup is just a `create-react-app` project with webpack. We are on version `17.0.2`. Let me know if you need any other information.

[2022-09-23 17:41] edsonjab commented on #270
Hi @atul-jalan.

A quick solution, you can add this flag `GENERATE_SOURCEMAP=false` on your start script like:
`"start": "set \"GENERATE_SOURCEMAP=false\" &&  react-scripts start"`
(this is an windows example)

we will change the configuration on our webpack.config to fix this issue.

[2022-09-23 17:49] atul-jalan commented on #270
@edsonjab We use sentry, which relies on sourcemaps to work, so disabling sourcemaps entirely isn't an option for us.

We're currently ignoring the warnings by running the app via `react-app-rewired` instead of `react-scripts` and ignoring console warnings for `@segment/consent-manager` in the `config-overrides.js` file for `react-app-rewired`. Of course, this is a temporary band aid that we'd lik

[2022-09-28 06:44] YoannaKaramfilova opened #273 "Allow passing additional cookie attributes"
Currently it is not possible to specify cookie attributes outside of `cookieName`, `cookieDomain` and `cookieExpires`. There are use cases when specifying other attributes is necessary - for example to set cookies and use the consent manager from embedded apps control over `secure` and `sameSite` attributes is needed.

[2022-09-29 22:30] edsonjab commented on #273
hi @YoannaKaramfilova thanks for your report and your PR we are testing your changes

[2022-09-30 18:22] dmoKruso commented on #263
Same problem here.

Instead change the require of lodash.js in \node_modules\@segment\consent-manager\commonjs\consent-manager-builder\fetch-destinations.js to a dynamic import() which is available in all CommonJS modules.

[2022-09-30 18:35] flux0uz commented on #263
How far along are you in correcting this error @edsonjab? Impossible to make the lib work and thus to use segment for the moment...

[2022-09-30 18:44] dmoKruso commented on #263
I am able to use 5.4.0 by installing with --legacy-peer-deps

5.5.0 gives me error: Module not found: Can't resolve '@emotion/core'

And 5.6.0 doesn't work either I get ['ERR_REQUIRE_ESM'] for lodash

[2022-09-30 19:06] dmoKruso opened #275 "Legacy Context API Warning"
Getting this warning:

[code]

[2022-10-01 16:53] joelpierre commented on #263
Make sure you don't load anything for the segment consent manager server side as this is what is not working. Load analytics.js client side only, you can do this by dynamically loading the segment/snippet package etc. I have it all working with no changes to dependencies or forking this repo. So it _does_ work. It is just VERY specific. I agree though they _should_ be fixing this as it isn't easy.

[2022-10-03 17:12] edsonjab commented on #275
HI @dmoKruso thank you for your report, we start looking into this

[2022-10-03 22:18] metalvegetarianoprogresivo opened #276 "Accessing globals through window.consentManager"
## Accessing globals through window.consentManager
Recently we migrated from using the standalone script to use the NextJS component. We need to access `window.consentManager` and it is no longer available in the browser when using NextJS. This is needed for Google Tag Manager to check preferences and listen for a callback function `window.consentManager.preferences.onPreferencesSaved`.

Is there

[2022-10-04 00:16] edsonjab commented on #276
Hi @metalvegetarianoprogresivo you need to add the script version on your project some like [here](
https://github.com/segmentio/consent-manager#example-in-nextjs)

![image](https://user-images.githubusercontent.com/22898327/193707985-96bb534f-121e-42ff-a87f-67a4ca94a322.png)

[2022-10-04 14:18] metalvegetarianoprogresivo commented on #276
Hi @edsonjab, we do have the script inserted in our codebase, but it seems that ´window.consentManager´ is not available.

[2022-10-04 16:08] edsonjab commented on #276
Hey @metalvegetarianoprogresivo could you help me to share us your project configuration, please? or some example on codesandbox or a repo, to check in which place will be the issue, please

[2022-10-04 16:54] metalvegetarianoprogresivo commented on #276
What exactly do we need to share for this? This is the how component on which we use consent manager:

[code]

[2022-10-04 20:22] edsonjab commented on #276
last question @metalvegetarianoprogresivo could you share me your NextJS version and consent-manager version, please?

[2022-10-04 22:10] metalvegetarianoprogresivo commented on #276
@edsonjab Thanks for following up this issue 🎉 . NextJS version is `6.15.0` and consent-manager version is `5.4.0`.

[2022-10-05 00:13] jayoutdoorsy commented on #193
Is there a timeline for future support? If the library is backwards compatible with AJS 1.0 why can we simply not do:
[code]
before ConsentManager is loaded?

[2022-10-05 15:38] blackbeak commented on #260
Did anyone get any further forward on this? I want to use the app but it's currently not fit for use with Gatsby.

[2022-10-06 08:54] dmoKruso commented on #275
I am using react with typescript and nextjs. I was using next 11 with react 17 and updated to next 12 with react 18. This warning appears on both versions.

It is related to this: https://reactjs.org/docs/legacy-context.html

[2022-10-07 08:39] DonGiulio opened #278 "modal won't show on Linux browser"
Hello,

I'm having the weirdest issue, where the popup works great on osx and windows browsers, but on linux browsers it seems not to work.

The code calling preact and configuring the modal is executed (I placed breakpoints to it), but it ends there.

below an extract of my code calling it
[code]

[2022-10-07 14:44] edsonjab commented on #278
Hi @DonGiulio thanks for your report, could you share us your SO version, please? also which version of react or nextjs or which platform or framework  you are implementing your solution please

[2022-10-07 19:54] metalvegetarianoprogresivo commented on #276
Any update on this @edsonjab ?

[2022-10-10 16:20] edsonjab commented on #276
HI @metalvegetarianoprogresivo I'm build an example on codesanbox to share with you the configuration of the project

[2022-10-12 10:44] henky-wu-qatalog opened #279 "The consent manager preferences dialog didn't open onClick"
We get the following error when`openConsentManager()` is called in a `onClick` function.
The preference dialog didn't open, and an error occurs as follows:
![Screenshot 2022-10-12 at 11 29 42](https://user-images.githubusercontent.com/96086008/195321670-634b59dc-2f5c-4118-8c29-3df8e7845ec0.png)

and we are getting this build warnings in NextJS:
[code]
![Screenshot 2022-10-12 at 11 18 55](https://u

[2022-10-12 15:58] edsonjab commented on #279
HI @henky-wu-qatalog thank you for your report, we start looking into this.

[2022-10-14 20:57] #239 closed

[2022-10-14 20:58] #270 closed

[2022-10-14 21:00] #264 closed

[2022-10-16 22:39] ChrisSargent opened #280 "Always causes reload when rendering ConsentManagerBuilder"
When rendering a component which includes the `ConsentManagerBuilder`, the `initialise` function is always called: https://github.com/segmentio/consent-manager/blob/12ec8ee01bf603155d7d748f688d7cd78169063b/src/consent-manager-builder/index.tsx#L179

This in turn always calls `conditionallyLoadAnalytics` specifying a `shouldReload` value, which is by default set as true: https://github.com/segmenti

[2022-10-17 16:13] edsonjab commented on #280
Hi @ChrisSargent thank you for your report, we start looking into this.

[2022-10-17 22:11] edsonjab commented on #279
Hi @henky-wu-qatalog I created this repo with an [example ](https://github.com/edsonjab/next_consent-manager)how configure consent-manager with nextJs. I created a PR to fix the issue with the lodash library

[2022-10-18 08:17] henky-wu-qatalog commented on #279
Thanks for the quick turnaround, @edsonjab.
I just briefly check the [example](https://github.com/edsonjab/next_consent-manager) here but I can only see a nextjs boilerplate project. Would you mind take a look on this?

[2022-10-18 16:01] edsonjab commented on #279
Hi @henky-wu-qatalog sorry, I forgot push my last changes, now is updated

[2022-10-19 16:24] metalvegetarianoprogresivo commented on #276
Thanks @edsonjab I'm gonna take a look. Is it necessary to update the consent-manager to the latest version that has the lodash fix to make this work properly?

[2022-10-19 17:46] lesliepassante opened #282 "Support adding additional destinations"
Is there a way to supply additional destinations to `<ConsentManager>` without using the `otherWriteKeys` attribute? We don't want to include all of the destinations that are connected with another source, but just a subset of them. It would be great to have an attribute like `otherDestinations` that would accept an object formatted just like the `/integrations` endpoint:

[code]

[2022-10-19 17:51] edsonjab commented on #282
Hi @lesliepassante you can use the property customCategories you can check the documentation [here](https://github.com/segmentio/consent-manager#customcategories).

[2022-10-19 17:57] lesliepassante commented on #282
@edsonjab Thanks! We tried `customCategories`, but it doesn't look like it will let us include additional destinations that aren't in the destinations you're pulling from Segment's API. Should it?

[2022-10-19 19:03] edsonjab commented on #282
oh sorry @lesliepassante, you can check ConsentManagerBuilder and the property [mapCustomPreferences](https://github.com/segmentio/consent-manager#mapcustompreferences) and this [storybook](https://segmentio.github.io/consent-manager/index.html?path=/story/consentmanagerbuilder--category-based)

[2022-10-24 22:55] danielj-flycode opened #284 "Can't close consent banner when using customCategories option"
We are using consent manager standalone with `customCategories` option on html project, using this code example https://codepen.io/samuelkahr/pen/JjdNqzr?editors=1010.
But the consent banner wasn't closed when user tried to save the preferences on consent preferences dialog. It was working properly when I remove `customCategories` option. By the way, it worked as expected on React project by using

[2022-10-25 07:39] danielj-flycode commented on #284
Just realized that similar issue happens on `ConsentManager` component as well, but in different way. By clicking `Save` button on consent management dialog banner closed but after page refreshing it opens up again.

[2022-10-25 15:22] danielj-flycode opened #285 "Can't add destination to Essential category"
We are using customCategories option to add custom categories, but there is no way to add destination to Essential category. Is there any built-in option to do it?

[2022-10-25 23:30] edsonjab commented on #284
Hi @danielj-flycode thank you for your report, we start looking into this.

[2022-10-25 23:35] edsonjab commented on #285
Hi @danielj-flycode for categories, you need to provide the key in order to map all the values properly. [customCategories](https://github.com/segmentio/consent-manager#customcategories)

[2022-10-26 06:37] danielj-flycode commented on #285
![image](https://user-images.githubusercontent.com/89743003/197951694-2ed4d241-b4a4-4c21-a583-edf059f59d3f.png)

[code]

[2022-10-26 06:47] danielj-flycode commented on #284
Thanks for your quick response, @edsonjab. I tried to update standalone script package version but the problem was more serious, the page hard-refreshing triggered by clicking any where in the page and I couldn't even open consent management dialog.

[2022-10-26 10:56] danielj-flycode opened #286 "Page reloading by clicking Accept all button when passing initialPreferences to consent manager"
Page reloading by clicking Accept all button when passing `initialPreferences` to consent manager, It would give user bad UX. It would be great if we have should option to disable page reload.

[2022-10-26 15:15] edsonjab commented on #286
Hi @danielj-flycode we created a [PR](https://github.com/segmentio/consent-manager/pull/283) for this request.

[2022-10-26 17:38] #255 closed

[2022-11-02 16:32] DonGiulio commented on #278
Thanks, sorry for the late reply,

I can reproduce it using ubuntu bionic on firefox, which I run via this command: `docker run --rm --name ubvnc -p 6080:80 -p 5900:5900 dorowu/ubuntu-desktop-lxde-vnc:bionic` and use on the browser via `http://localhost:6080/`

my stack is a Ruby on Rails 7 app, and I include the consent management scripts directly in the html.erb files. with

[code]

it works fin

[2022-11-03 10:35] DonGiulio commented on #278
I tried replacing
[code]
with
[code]

Still no modal shown, BUT in the inspector I can see there's an empty `<div></div>` inside the target container div.

also I tried removing the `bannerAsModal: true` configuration and still can see no consent manager bar at the bottom, which I can see in osx and the content manager target div remains empty.

**I can finally see the consent if I remove the `sho

[2022-11-11 18:17] tekstrand commented on #276
@edsonjab any news on that issue with lodash?

[2022-11-16 15:44] #266 closed

[2022-11-16 18:37] #259 closed

[2022-11-17 04:00] metalvegetarianoprogresivo commented on #276
hi @edsonjab just asking again about this `lodash` issue we have now with consent-manager 5.6 on the example repo you shared, is there any workaround it?

[2022-11-18 15:03] tekstrand commented on #276
@edsonjab any updates?

[2022-11-18 15:35] edsonjab commented on #276
Hi @metalvegetarianoprogresivo @tekstrand we create a new PR to solve the issue with lodash library [PR](https://github.com/segmentio/consent-manager/pull/281) so, we will release a new version soon to solve this issue.

[2022-11-21 13:28] caprica opened #289 "New release after 5.6.0"
Is there a roadmap for when the next release will be made?

We need the fixes that have been made after 5.6.0.

[2022-11-21 14:35] andrewmumblebee opened #290 "Google Tag Manager Category"
Hi,

I'm struggling with the `customCategories` option, if i use it it with the banner then i can't save the options.

So I've tried using the default categories which works fine. However, Google Tag Manager is listed until the "Advertising" category, this doesn't make sense to me, i'm trying to utilize the preferences from Segment to set consent on the tags loaded by Tag Manager.

But if someone

[2022-11-22 22:02] edsonjab commented on #290
Hi @andrewmumblebee thank you for your report, we start looking into this.

[2022-11-23 03:23] #280 closed

[2022-11-23 03:23] #286 closed